<template>
  <div class="personal-Info-header-phone-nav"
       @click="showMobileNav">
    <i v-if="showNav" class="fas fa-times" aria-hidden="true"></i>
    <i v-else class="fas fa-bars" aria-hidden="true"></i>
   <!-- <i class="fas fa-bars" aria-hidden="true"></i>-->
  </div>
</template>

<script>
  import {SET_MOBILE_NAV} from "../../../store/modules/config";

  export default {
    name: "mobileNavPersonal",
    methods:{
      showMobileNav(){
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'personal-Info-left-bar', status: 'toggle'})
      }
    },
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["personal-Info-left-bar"];
      }
    }
  }
</script>

<style scoped>

</style>
