<template>
  <img v-if="user.photo" :src="baseAsset+user.photo" :alt="displayName"/>
  <img v-else src="~assets/img/default/user.png" :alt="displayName"/>
</template>

<script>
  export default {
    name: "profileImage"
  }
</script>

<style scoped>

</style>
