<template>
  <ul class="nav">
    <li class="nav-item">
      <nuxt-link to="/user/profile" class="nav-link">Personal Info</nuxt-link>
    </li>

    <li class="nav-item">
      <nuxt-link to="/user/profile/companyBasic" class="nav-link">Company Basic</nuxt-link>
    </li>

    <li class="nav-item">
      <nuxt-link :class="{disabled:!companyActive}" to="/user/profile/companyMore" class="nav-link">Company More</nuxt-link>
    </li>

    <li class="nav-item">
      <nuxt-link :class="{disabled:!companyActive}" to="/user/profile/certifications" class="nav-link">Certifications</nuxt-link>
    </li>

    <li class="nav-item">
      <nuxt-link :class="{disabled:!companyActive}" to="/user/profile/factoryDetails" class="nav-link">Factory Details</nuxt-link>
    </li>

    <li class="nav-item">
      <nuxt-link :class="{disabled:!companyActive}" to="/user/profile/tradeDetails" class="nav-link">Trade Details</nuxt-link>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "SellerProfileNav",
    computed: {
      companyActive() {
        return this.user.company && this.user.company.id;
      }
    }
  }
</script>

<style scoped>

</style>
