<template>
  <div class="personal-Info-left-bar" :class="{'d-block':showNav}">
    <profile-image/>
    <h4>{{displayName}}</h4>
    <ul>
      <li>Join Date <span>{{$date(user.created_at).format('DD MMMM YYYY')}}</span></li>
      <li>Phone <span><a :href="`tel:${user.phone}`">{{user.phone}}</a></span></li>
      <li>Email <span><a :href="`mailto:${user.email}`">{{user.email}}</a></span></li>
      <li>Position <span> {{user.job_title}} </span></li>
    </ul>
  </div>
</template>

<script>
  import ProfileImage from "./profileImage";

  export default {
    name: "userProfile",
    components: {ProfileImage},
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["personal-Info-left-bar"];
      }
    }
  }
</script>

<style scoped>

</style>
