<template>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav-mobile" v-if="user" @click="showSomething" id="nav-mobile">
            <i v-if="showNav" class="fas fa-times"></i>
            <i v-else class="fas fa-bars"></i>
        </div>
        <nuxt-link to="/" class="navbar-brand">
            <img src="~assets/img/logo.png" width="100%" class="img-fluid" alt="Logo">
        </nuxt-link>
    </nav>
</template>

<script>
    import {SET_MOBILE_NAV} from "../../../../store/modules/config";

    export default {
        name: "HeaderLogo",
        methods: {
            showSomething() {
                this.$store.dispatch(SET_MOBILE_NAV, {index: 'show-nav', status: 'toggle'})
                this.$store.dispatch(SET_MOBILE_NAV, {index: 'products-card-left-show-nav', status: 'toggle'})
            }
        },
      computed: {
        showNav() {
          return this.$store.getters.mobileNav["show-nav"];
        }
      }
    }

</script>

<style scoped>
</style>
