<template>
  <section class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <header-logo/>
        </div>
        <div class="col-md-6 ">
          <div class="search_box mt-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button @click="toggleDropdown=!toggleDropdown" class="btn dropdown-toggle border_left">
                  <b>{{dropDOwnLists[activeDropDown]}}</b>
                </button>
                <div class="dropdown-menu" :class="{show:toggleDropdown}">
                  <a class="dropdown-item cursor-pointer" @click="setDropdown(index)"
                     v-for="(dropDOwnList, index)  in dropDOwnLists" :key="index">{{dropDOwnList}}</a>
                </div>
              </div>
              <span class="break_search mt-1">|</span>
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                     placeholder="What you are looking here......">
              <div class="input-group-append">
                <button class="btn btn_bg_danger text-white" type="button">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="login_register mt-4">
             <span>
               <strong>
                <template v-if="!authenticated">
                     <nuxt-link to="/account/login" class="btn_danger text-decoration-none">Login</nuxt-link> /
                      <nuxt-link to="/account/register" class="btn_danger text-decoration-none">Register</nuxt-link>
                </template>
                <template v-else>
                     <nuxt-link to="/user" class="btn_danger text-decoration-none">{{displayName}}</nuxt-link> |
                     <logout class="btn_danger text-decoration-none"/>
                </template>
                </strong>
             </span>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </section>
</template>

<script>
  import HeaderLogo from "./HeaderLogo";
  import Logout from "../../../auth/common/logout";

  export default {
    components: {Logout, HeaderLogo},
    data() {
      return {
        toggleDropdown: false,
        dropDOwnLists: {
          'product': 'Product',
          'supplier': 'Supplier'
        },
        activeDropDown: 'product'
      }
    },
    methods: {
      setDropdown(index) {
        this.activeDropDown = index;
        this.toggleDropdown = false;
      }
    }
  }

</script>
<style scoped>
  .dropdown-toggle {
    box-shadow: none;
  }
</style>
