<template>
  <div id="side-panel" :class="{'side-panel-show-nav':showNav}">
    <div id="profile">
      <div class="wrap">
        <i class="far fa-envelope envelope-left"></i>
        <p>Message List</p>

        <i class="fas fa-info expand-button"></i>
      </div>
    </div>
    <div id="search">
      <label for="searchContact">
        <i class="fa fa-search" aria-hidden="true"></i>
      </label>
      <input id="searchContact" type="text" placeholder="Search contacts..."/>
    </div>
    <div id="contacts">
      <ul>
       <single-person-list v-for="i in 25" :key="i"/>
      </ul>
    </div>
  </div>
</template>

<script>
    import SinglePersonList from "./singlePersonList";
    export default {
        name: "sidebar",
      components: {SinglePersonList},
      computed: {
        showNav() {
          return this.$store.getters.mobileNav["side-panel-show-nav"];
        }
      }
    }
</script>

<style scoped>

</style>
