<template>
  <li class="contact" @click="hideMessageMenu">
    <div class="wrap">
      <span class="contact-status online"></span>
      <img src="http://emilcarlsson.se/assets/louislitt.png" alt=""/>
      <div class="meta">
        <p class="name">Louis Litt <b> 2 </b></p>
        <p class="conpany-name">Company Name Line Here</p>
        <p class="preview">You just got LITT up, Mike.</p>
      </div>

      <div class="product-and-time">
        <p>2020-04-04</p>
        <img src="https://www.virtuix.com/wp-content/uploads/2014/12/shoes_product.png" alt=""/>
      </div>
    </div>
  </li>
</template>

<script>
  import {SET_MOBILE_NAV} from "../../../store/modules/config";

  export default {
    name: "singlePersonList",
    methods: {
      hideMessageMenu() {
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'side-panel-show-nav', status: false})
      }
    }
  }
</script>

<style scoped>

</style>
