<template>
  <section>
    <div class="col-md-6 personal-Info-input">
      <validation-provider name="country" vid="country_id" :rules="isRequired" v-slot="{errors}">
        <countries :isDisable="isDisable" v-model="localAddress.country_id"></countries>
        <errors>{{errors[0]}}</errors>
      </validation-provider>
    </div>

    <div class="col-md-6 personal-Info-input">
      <validation-provider name="division" vid="division_id" :rules="isRequired" v-slot="{errors}">
        <divisions :isDisable="isDisable" :country-id="localAddress.country_id" v-model="localAddress.division_id"></divisions>
        <errors>{{errors[0]}}</errors>
      </validation-provider>
    </div>

    <div class="col-md-6 personal-Info-input">
      <validation-provider name="city" vid="city_id" :rules="isRequired" v-slot="{errors}">
        <cities :isDisable="isDisable" :division-id="localAddress.division_id" v-model="localAddress.city_id"></cities>
        <errors>{{errors[0]}}</errors>
      </validation-provider>
    </div>

    <div class="col-md-6 personal-Info-input">
      <validation-provider name="area" vid="area_id" :rules="{required:false}" v-slot="{errors}">
        <areas :isDisable="isDisable" :city-id="localAddress.city_id" v-model="localAddress.area_id"></areas>
        <errors>{{errors[0]}}</errors>
      </validation-provider>
    </div>

    <div class="col-md-6 personal-Info-input">
      <label>Address (Building No, Floor, Area)</label>
      <validation-provider name="address" vid="address" :rules="isRequired" v-slot="{errors}">
        <input :disabled="isDisable" type="text" v-model="localAddress.address" class="form-control"
               placeholder="SK Tower, 2nd Floor, Sukrabad, Dhaka"/>
        <errors>{{errors[0]}}</errors>
      </validation-provider>
    </div>

    <div class="col-md-6 personal-Info-input">
      <label>Zip Code</label>
      <input :disabled="isDisable" type="text" v-model="localAddress.zip_code" class="form-control"
             placeholder="1207"/>
    </div>
  </section>
</template>

<script>
  import {COUNTRY_LIST} from "../../../../../store/modules/address/countries";
  import {ValidationProvider} from "vee-validate";

  import Countries from "./Countries";
  import Divisions from "./Divisions";
  import Cities from "./Cities";
  import Areas from "./Areas";
  import Errors from "../errors";

  export default {
    components: {Errors, Areas, Cities, Divisions, Countries, ValidationProvider},
    props: {
      value: {
        type: Object,
        required: true
      },
      validate: {
        default: false,
        required: false
      },
      isDisable:{
        default: false,
        required: false
      }
    },
    name: "AddressForm",
    created() {
      this.$store.dispatch(COUNTRY_LIST);
    },
    data() {
      return {
        localAddress: this.value,
      }
    },
    computed: {
      isRequired() {
        return {required: !this.isDisable && this.validate};
      }
    },
    watch: {
      value: {
        handler(newVal) {
          if (newVal) {
            this.localAddress = newVal;
          }
        },
        deep: true,
      },
      localAddress: {
        handler(newVal) {
          if (newVal)
            this.$emit('input', newVal)
        },
        deep: true,
      }
    }
  }
</script>

<style scoped>

</style>
