<template>
  <div>
    <label>Area</label>
    <select :disabled="isDisable" v-model="localArea"
            class="custom-select">
      <option selected disabled value="">Select Area</option>
      <option v-for="area in areas" :value="area.id">{{area.name}}</option>
    </select>
  </div>
</template>

<script>

  export default {
    name: "Areas",
    props: {
      value: {
        default: '',
        required: true
      },
      cityId: {
        default: false,
        required: false
      },
      isDisable:{
        default: false,
        required: false
      }
    },
    data() {
      return {
        localArea: '',
      }
    },
    computed: {
      areas() {
        if (this.cityId) {
          return this.$store.getters.areasByCity(this.cityId);
        }
        return [];
      }
    },
    watch: {
      cityId: {
        handler(newVal, oldValue) {
          if (oldValue !== '') {
            this.localArea = '';
          }
        }
      },
      value: {
        handler(newVal, oldValue) {
          if (newVal) {
            this.localArea = newVal;
          }
        },
        immediate:true
      },
      localArea: {
        handler(newVal, oldValue) {
          this.$emit('input', newVal);
        }
      }
    }
  }
</script>

<style scoped>

</style>
