<template>
  <div>
    <label>City</label>
    <select :disabled="isDisable" v-model="localCity"
            class="custom-select">
      <option selected disabled value="">Select City</option>
      <option v-for="city in cities" :value="city.id">{{city.name}}</option>
    </select>
  </div>
</template>

<script>
  import {AREA_LIST} from "../../../../../store/modules/address/areas";

  export default {
    name: "Cities",
    props: {
      value: {
        default: '',
        required: true
      },
      divisionId: {
        default: false,
        required: false
      },
      isDisable:{
        default: false,
        required: false
      }
    },
    data() {
      return {
        localCity: '',
      }
    },
    computed: {
      cities() {
        if (this.divisionId) {
          return this.$store.getters.citiesByDivision(this.divisionId);
        }
        return [];
      }
    },
    watch: {
      divisionId: {
        handler(newVal, oldValue) {
          if (oldValue !== '') {
            this.localCity = '';
          }
        }
      },
      value: {
        handler(newVal, oldValue) {
          if (newVal) {
            this.localCity = newVal;
            this.$store.dispatch(AREA_LIST, newVal);
          }
        },
        immediate:true
      },
      localCity: {
        handler(newVal, oldValue) {
          this.$emit('input', newVal);
        }
      }
    }
  }
</script>

<style scoped>

</style>
