<template>
  <div>
    <label v-if="label">Country</label>
    <select :disabled="isDisable" v-model="localCountry"
            class="custom-select">
      <option selected disabled value="">Select Country</option>
      <option v-for="country in countries" :value="country.id">{{country.name}}</option>
    </select>
  </div>
</template>

<script>
  import {DIVISION_LIST} from "../../../../../store/modules/address/divisions";
  import {COUNTRY_LIST} from "../../../../../store/modules/address/countries";

  export default {
    name: "Countries",
    props: {
      value: {
        default: '',
        required: true
      },
      division: {
        default: true,
        required: false
      },
      label: {
        default: true,
        required: false
      },
      isDisable:{
        default: false,
        required: false
      }
    },
    data() {
      return {
        localCountry: this.value,
      }
    },
    created() {
      this.$store.dispatch(COUNTRY_LIST);
    },
    computed: {
      countries() {
        return this.$store.getters.countries;
      }
    },
    watch: {
      value: {
        handler(newVal, oldValue) {
          if (newVal) {
            this.localCountry = newVal;
            if (this.division) {
              this.$store.dispatch(DIVISION_LIST, newVal);
            }
          }
        },
        immediate: true
      },
      localCountry: {
        handler(newVal, oldVal) {
          this.$emit('input', newVal);
          if (newVal && this.division) {
            this.$store.dispatch(DIVISION_LIST, newVal);
          }
        }
      }
    },
  }
</script>

<style scoped>

</style>
