<template>
  <div>
    <label>State/Division</label>
    <select :disabled="isDisable" v-model="localDivision"
            class="custom-select">
      <option selected disabled value="">Select Division</option>
      <option v-for="division in divisions" :value="division.id">{{division.name}}</option>
    </select>
  </div>
</template>

<script>
  import {CITY_LIST} from "../../../../../store/modules/address/cities";

  export default {
    name: "Divisions",
    props: {
      value: {
        default: '',
        required: true
      },
      countryId: {
        default: false,
        required: false
      },
      isDisable:{
        default: false,
        required: false
      }
    },
    data() {
      return {
        localDivision: '',
      }
    },

    computed: {
      divisions() {
        if (this.countryId) {
          return this.$store.getters.divisionsByCountry(this.countryId);
        }
        return [];
      }
    },
    watch: {
      countryId: {
        handler(newVal, oldValue) {
          if (oldValue !== '') {
            this.localDivision = '';
          }
        }
      },
      value: {
        handler(newVal, oldValue) {
          if (newVal) {
            this.localDivision = newVal;
            this.$store.dispatch(CITY_LIST, newVal);
          }
        },
        immediate:true
      },
      localDivision: {
        handler(newVal, oldValue) {
          this.$emit('input', newVal);
        }
      }
    }
  }
</script>

<style scoped>

</style>
