<template>
  <div class="add-certificate">
    <h3>{{trade.id?'Update':'Add'}} Trade</h3>
    <validation-observer ref="companyTrades" v-slot="{dirty}">
      <form id="companyTrades" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="col-md-6 personal-Info-input">
            <validation-provider rules="required" vid="annual_revenue_id" name="annual revenue" v-slot="{errors}">
              <config-list alias-name="annual_revenue_id" v-model="trade.annual_revenue_id"
                           label="Total Annual Revenue"></config-list>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
          <div class="col-md-3 personal-Info-input">
            <label>Year when company started exporting</label>
            <validation-provider rules="required" name="export start date" v-slot="{errors}">
              <input v-model="trade.export_started_year" class="form-control" type="date">
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-3 personal-Info-input">
            <validation-provider rules="required" name="export percent" v-slot="{errors}">
              <config-list label="Export Percentage" v-model="trade.export_percent_id"
                           alias-name="export_percent_id"></config-list>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
        </div>
        <button type="submit"
                class="btn btn-continue float-right"
                form="companyTrades">
          {{trade.id?'Update':'Save'}}
        </button>
      </form>
    </validation-observer>
  </div>
</template>

<script>
  import {ValidationObserver, ValidationProvider} from "vee-validate";
  import Errors from "../../../common/form/errors";
  import {COMPANY_TRADE_UPDATE} from "../../../../../store/modules/companyTrade";
  import ConfigList from "../../../common/configList";
  import {deepCopy} from "../../../../../core/services/helper";

  export default {
    name: "formTrades",
    components: {ConfigList, Errors, ValidationProvider, ValidationObserver},
    data() {
      return {
        trade: {}
      }
    },
    computed: {
      singleTrade() {
        return this.$store.getters.trade;
      }
    },
    methods: {
      submitForm() {
        this.$refs.companyTrades.validate().then(success => {
          if (!success) {
            return;
          }
          this.trade.export_started_year = this.$date(this.trade.export_started_year).year();
          this.trade.company_id = this.user.company.id;
          this.$store.dispatch(COMPANY_TRADE_UPDATE, this.trade);
        });
      }
    },
    watch: {
      'singleTrade': {
        handler(value) {
          this.trade = deepCopy(value);
        },
        immediate: true
      },
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyTrades.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyTrades.setErrors(ers);
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
