<template>
  <div class="submitted-certifications" v-if="trades.length">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" v-for="tableHeader in tableHeaders">{{tableHeader.value}}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="trade in trades">
        <td v-for="(tableHeader, index) in tableHeaders">
          <template v-if="tableHeader.config">{{getDetailsByAliasValue(tableHeader.config, trade[index])}}</template>
          <template v-else>{{ trade[index]}}</template>
        </td>
        <td>
          <div class="edit-delete">
            <!--  <a href="">Edit</a>-->
            <span @click="editItem(trade.id)" class="text-primary cursor-pointer "><i
              class="fas fa-pen-square fa-2x"></i></span>
            <span @click="deleteItem(trade.id)" class="text-danger cursor-pointer custom_padding"> <i
              class="fas fa-trash-alt fa-2x"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    COMPANY_TRADE_DELETE, COMPANY_TRADE_DETAILS
  } from "../../../../../store/modules/companyTrade";

  export default {
    name: "tradeList",
    data() {
      return {
        tableHeaders: {
          annual_revenue_id: {
            value: 'Annual Revenue',
            config: "annual_revenue_id"
          },
          export_percent_id: {
            value: 'Export Percentage',
            config: "export_percent_id"
          },
          export_started_year: {
            value: 'Export start',
            config: false
          },
        }
      }
    },
    computed: {
      trades() {
        return this.$store.getters.trades;
      }
    },
    methods: {
      deleteItem(id) {
        if (confirm('Are you confirm want to delete')) {
          this.$store.dispatch(COMPANY_TRADE_DELETE, id);
        }
        /* this.$toast.show(
             'Are you want to confirm delete?', {
                 duration: 6000,
                 action: [
                     {
                         text: 'Yes',
                         onClick: (e, obj) => {
                             this.$store.dispatch(COMPANY_TRADE_DELETE, id);
                             obj.goAway(0);
                         }
                     },
                     {
                         text: 'No',
                         onClick: (e, obj) => {
                             obj.goAway(0);
                         }
                     },
                 ]
             }
         )*/
      },
      editItem(id) {
        this.$store.dispatch(COMPANY_TRADE_DETAILS, id);
      },
      getDetailsByAliasValue(value, index) {
        return this.$store.getters.configByAliasValue(value, index);
      }
    }
  }
</script>

<style scoped>

</style>
