<template>
  <div class="add-certificate">
    <h3>Add Factory</h3>
    <validation-observer ref="companyFactory">
      <form name="companyFactory" id="companyFactory" @submit.prevent="submitForm">
        <div class="form-row">
          <address-form v-if="factory.address" :validate="true" class="form-row" v-model="factory.address"/>
          <div class="col-md-6 personal-Info-input">
            <label>Factory Size</label>
            <validation-provider rules="required" vid="size_id" name="factory size"
                                 v-slot="{errors}">
              <input v-model="factory.size_id" type="text" class="form-control"
                     placeholder="Below 1000 Square Meter"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-6 personal-Info-input">
            <validation-provider rules="required" vid="staff_number_id" name="No. of QC Staff"
                                 v-slot="{errors}">
              <config-list v-model="factory.staff_number_id" label="No. of QC Staff" alias-name="qc_staff_breakdown"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-6 personal-Info-input">
            <validation-provider rules="required" vid="rnd_staff_id" name="No. of R & D Staff"
                                 v-slot="{errors}">
              <config-list v-model="factory.rnd_staff_id" label="No. of R & D Staff" alias-name="rnd_staff_id"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-6 personal-Info-input">
            <validation-provider rules="required" vid="production_line_id" name="No. of Production Line"
                                 v-slot="{errors}">
              <config-list v-model="factory.production_line_id" label="No. of Production Line"
                           alias-name="production_line_id"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-6 personal-Info-input">
            <validation-provider rules="required" vid="annual_output_id" name="Annual Output Value"
                                 v-slot="{errors}">
              <config-list v-model="factory.annual_output_id" label="Annual Output Value"
                           alias-name="annual_output_id"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
        </div>
        <button type="submit"
                class="btn btn-continue float-right"
                form="companyFactory">
          {{factory.id?'Update':'Save'}}
        </button>
      </form>
    </validation-observer>
  </div>
</template>

<script>
  import {ValidationProvider, ValidationObserver} from "vee-validate";
  import AddressForm from "../../../common/form/address/AddressForm";
  import {COMPANY_FACTORY_UPDATE} from "../../../../../store/modules/factories";
  import SelectList from "../../../common/form/SelectList";
  import Errors from "../../../common/form/errors";
  import address from "../../../../../core/services/address";
  import {deepCopy} from "../../../../../core/services/helper";
  import ConfigList from "../../../common/configList";

  export default {
    name: "factoryForm",
    components: {ConfigList, Errors, SelectList, AddressForm, ValidationProvider, ValidationObserver},
    data() {
      return {
        factory: {}
      }
    },
    computed: {
      singleFactory() {
        return this.$store.getters.factory;
      }
    },
    methods: {
      setPhoto(event) {
        this.factory.factory_photo_name = event.target.files[0];
      },
      submitForm() {
        this.$refs.companyFactory.validate().then(success => {
          if (!success) {
            return;
          }
          console.log(this.factory);
          this.factory.company_id = this.user.company.id;
          this.$store.dispatch(COMPANY_FACTORY_UPDATE, this.factory);
        });
      }
    },
    watch: {
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyFactory.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyFactory.setErrors(ers);
          }
        }
      },
      'singleFactory': {
        handler(value) {
          this.factory = deepCopy(value);

          if (!value.address) {
            this.factory.address = deepCopy(address);
          }
        },
        immediate: true
      }
    }
  }
</script>

<style scoped>

</style>
