<template>
  <div class="submitted-certifications" v-if="factories.length">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" v-for="tableHeader in tableHeaders">
          {{tableHeader.value}}
        </th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="factory in factories">
        <td v-for="(tableHeader, index) in tableHeaders">
          <template v-if="tableHeader.config">{{getDetailsByAliasValue(tableHeader.config, factory[index])}}</template>
          <template v-else>{{ factory[index]}}</template>
        </td>
        <td>
          <div class="edit-delete">
            <!--  <a href="">Edit</a>-->
            <span @click="editItem(factory.id)" class="text-primary cursor-pointer "><i
              class="fas fa-pen-square fa-2x"></i></span>
            <span @click="deleteItem(factory.id)" class="text-danger cursor-pointer custom_padding"> <i
              class="fas fa-trash-alt fa-2x"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    COMPANY_FACTORY_DELETE, COMPANY_FACTORY_DETAILS
  } from "../../../../../store/modules/factories";

  export default {
    name: "factoryList",
    data() {
      return {
        tableHeaders: {
          size_id: {
            value: 'Factory Size',
            config: false
          },
          rnd_staff_id: {
            value: 'Rnd Staff',
            config: 'rnd_staff_id'
          },
          staff_number_id: {
            value: 'NUmber of staff',
            config: "qc_staff_breakdown"
          },
          annual_output_id: {
            value: 'Annual Revenue',
            config: "annual_output_id"
          }
        }
      }
    },
    computed: {
      factories() {
        return this.$store.getters.factories;
      }
    },
    methods: {
      deleteItem(id) {
        if (confirm('Are you confirm want to delete')) {
          this.$store.dispatch(COMPANY_FACTORY_DELETE, id);
        }
       /* this.$toast.show(
          'Are you want to confirm delete?', {
            duration: 6000,
            action: [
              {
                text: 'Yes',
                onClick: (e, obj) => {
                  this.$store.dispatch(COMPANY_FACTORY_DELETE, id);
                  obj.goAway(0);
                }
              },
              {
                text: 'No',
                onClick: (e, obj) => {
                  obj.goAway(0);
                }
              },
            ]
          }
        )*/
      },
      editItem(id) {
        this.$store.dispatch(COMPANY_FACTORY_DETAILS, id);
      },
      getDetailsByAliasValue(value, index) {
        return this.$store.getters.configByAliasValue(value, index);
      }
    }
  }
</script>

<style scoped>

</style>
