<template>
  <div class="content">
    <div class="contact-profile">
      <div class="contact-profile-nav" @click="showMessageNav">
        <i v-if="showNav" class="fas fa-times"aria-hidden="true"></i>
        <i v-else class="fas fa-bars" aria-hidden="true"></i>
      </div>
      <div class="contact-profile-user">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt=""/>

        <div class="contact-profile-user-info">
          <p>Mehedi Hassan</p>
          <span>Fri, Apr 29, 2020 | 10:10 PM</span>
        </div>
      </div>

      <div class="social-media">
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div>
    <div class="messages">
      <ul>
        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>

        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="sent">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
        <li class="replies">
          <span class="time_date"> April 26, 2020 at 7:59pm</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen.
          </p>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input type="text" placeholder="Type a message…"/>
        <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</template>

<script>
  import {SET_MOBILE_NAV} from "../../../store/modules/config";

  export default {
    methods:{
      showMessageNav(){
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'side-panel-show-nav', status: 'toggle'})
      }
    },
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["side-panel-show-nav"];
      }
    }
  }
</script>

<style scoped>

</style>
