<template>
  <div class="add-certificate">
    <h3>{{port.id?'Update':'Add'}} Port</h3>
    <validation-observer ref="companyPort" v-slot="{dirty}">
      <form id="companyPort" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="col-md-6 personal-Info-input">
            <label>Nearest Port Name</label>
            <validation-provider rules="required" vid="name" name="name" v-slot="{errors}">
              <input v-model="port.name" type="text" class="form-control"
                     placeholder="Dhaka, Bangladesh"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
            <small id="emailHelp" class="form-text text-muted">One port name per box</small>
          </div>

          <div class="col-md-6 personal-Info-input">
            <label>Address</label>
            <validation-provider rules="required" vid="address" name="port address" v-slot="{errors}">
              <input v-model="port.address" type="text" class="form-control"
                     placeholder="Port of Mongla, Bangladesh"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
        </div>
        <button type="submit"
                class="btn btn-continue float-right"
                form="companyPort">
          {{port.id?'Update':'Save'}}
        </button>
      </form>
    </validation-observer>
  </div>
</template>

<script>
  import {ValidationObserver, ValidationProvider} from "vee-validate";
  import Errors from "../../../common/form/errors";
  import {COMPANY_PORT_UPDATE} from "../../../../../store/modules/companyPort";
  import {deepCopy} from "../../../../../core/services/helper";

  export default {
    name: "formPort",
    components: {Errors, ValidationProvider, ValidationObserver},
    data() {
      return {
        port: {}
      }
    },
    computed: {
      singlePort() {
        return this.$store.getters.port;
      }
    },
    methods: {
      submitForm() {
        this.$refs.companyPort.validate().then(success => {
          if (!success) {
            return;
          }
          this.port.company_id = this.user.company.id;
          this.port.status = 1;
          this.$store.dispatch(COMPANY_PORT_UPDATE, this.port);
        });
      }
    },
    watch: {
      'singlePort': {
        handler(value) {
          this.port = deepCopy(value);
        },
        immediate: true
      },
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyPort.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyPort.setErrors(ers);
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
