<template>
  <div class="submitted-certifications" v-if="ports.length">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" v-for="tableHeader in tableHeaders">{{tableHeader}}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="port in ports">
        <td v-for="(tableHeader, index) in tableHeaders">{{port[index]}}</td>
        <td>
          <div class="edit-delete">
            <!--  <a href="">Edit</a>-->
            <span @click="editItem(port.id)" class="text-primary cursor-pointer "><i
              class="fas fa-pen-square fa-2x"></i></span>
            <span @click="deleteItem(port.id)" class="text-danger cursor-pointer custom_padding"> <i
              class="fas fa-trash-alt fa-2x"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    COMPANY_PORT_DELETE, COMPANY_PORT_DETAILS
  } from "../../../../../store/modules/companyPort";

  export default {
    name: "portList",
    data() {
      return {
        tableHeaders: {
          name: 'Name',
          address: 'Port Address',
        }
      }
    },
    computed: {
      ports() {
        return this.$store.getters.ports;
      }
    },
    methods: {
      deleteItem(id) {
        if (confirm('Are you confirm want to delete')) {
          this.$store.dispatch(COMPANY_PORT_DELETE, id);
        }

        /*this.$toast.show(
          'Are you want to confirm delete?', {
            duration: 6000,
            action: [
              {
                text: 'Yes',
                onClick: (e, obj) => {
                  this.$store.dispatch(COMPANY_PORT_DELETE, id);
                  obj.goAway(0);
                }
              },
              {
                text: 'No',
                onClick: (e, obj) => {
                  obj.goAway(0);
                }
              },
            ]
          }
        )*/
      },
      editItem(id) {
        this.$store.dispatch(COMPANY_PORT_DETAILS, id);
      }
    }
  }
</script>

<style scoped>

</style>
