<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company Certificates</p>
      </div>
      <div class="personal-Info-header-right">

      </div>
    </div>
    <certificate-list></certificate-list>
    <span type="button" v-if="certificates.length" class="float-right" @click="addNewCertificate"><i
      class="fas fa-plus-circle fa-2x"></i></span>
    <certificate-form></certificate-form>
  </div>
</template>

<script>
  import CertificateList from "../../../components/auth/profile/company/certificates/list";
  import CertificateForm from "../../../components/auth/profile/company/certificates/form";
  import {COMPANY_CERTIFICATE_DETAILS, COMPANY_CERTIFICATE_LIST} from "../../../store/modules/certifications";

  export default {
    components: {CertificateForm, CertificateList},
    data() {
      return {
        form: false
      }
    },
    computed: {
      certificates() {
        return this.$store.getters.certificates;
      }
    },
    created() {
      this.$store.dispatch(COMPANY_CERTIFICATE_LIST);
    },
    methods: {
      addNewCertificate() {
        this.$store.dispatch(COMPANY_CERTIFICATE_DETAILS);
      }
    }
  }
</script>

<style scoped>

</style>
