<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company details</p>
      </div>
      <div class="personal-Info-header-right">
        <mobile-nav-personal/>
        <a href="">Edit</a>
        <button type="submit" form="companyDetails">
          <span v-if="companyLoading" class="spinner-border spinner-border-sm" role="status"></span>
          Save</button>
      </div>
    </div>
    <div class="personal-Info-body">
      <company-profile/>
      <div class="personal-Info-right-bar">
        <ValidationObserver ref="companyDetails">
          <form id="companyDetails" @submit.prevent="saveCompanyDetails" name="companyDetails">
            <div class="col-md-12 personal-Info-input">
              <label>Company Logo</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text brouser-1">Browse</span>
                </div>
                <div class="custom-file">
                  <input @change="setCompanyLogo" type="file" class="custom-file-input" id="inputGroupFile01"/>
                  <label class="custom-file-label custom-file-label-custom"
                         for="inputGroupFile01">UnitedIT.JPG</label>
                </div>
              </div>
            </div>

            <div class="col-md-12 personal-Info-input">
              <label>About Us (Max 4000 Characters)</label>
              <validation-provider name="About us" rules="required" v-slot="{errors}">
                <textarea v-model="details.about_us" class="form-control" rows="6"
                          pleaseholder="Enter description here"/>
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>

            <div class="col-md-12 personal-Info-input">
              <label>Mission</label>
              <validation-provider name="mission" rules="required" v-slot="{errors}">
              <textarea v-model="details.mission" class="form-control" rows="3"
                        pleaseholder="Enter mission here"></textarea>
                <span class="text-danger">{{ errors[0] }}</span>
              </validation-provider>
            </div>
            <div class="col-md-12 personal-Info-input">
              <label>Vision</label>
              <textarea v-model="details.vision" class="form-control" rows="3"
                        pleaseholder="Enter vision here"></textarea>
            </div>
            <div class="col-md-12 personal-Info-input">
              <div class="drag-and-drop-files-here">
                <drag-file-input multiple="true" title="Company Photos" @change="updateImage"></drag-file-input>
                <div class="drag-and-drop-files-here-images-list">
                  <company-photos></company-photos>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-12 personal-Info-input">
                <label>Company Video</label>
                <input v-model="details.youtube_link" type="url" class="form-control"
                       placeholder="Youtube link paste here"/>
              </div>
              <div class="col-md-12 personal-Info-input">
                <label>Facebook Page</label>
                <input v-model="details.fb_link" type="url" class="form-control" placeholder="Facebook page url"/>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>


    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company Trade Membership</p>
      </div>
      <div class="personal-Info-header-right"></div>
    </div>
    <trade-membership-list/>
    <span type="button" v-if="tradeMemberships.length" class="float-right" @click="addNewTradeMembership">
      <i class="fas fa-plus-circle fa-2x"></i>
    </span>
    <form-trade-member-ship v-if="tradeMembership.form || !tradeMemberships.length"/>
  </div>

</template>

<script>
  import DragFileInput from "../../../components/auth/common/form/DragFileInput";
  import {ValidationProvider, ValidationObserver} from "vee-validate";
  import CompanyPhotos from "../../../components/auth/profile/company/companyPhotos";
  import {COMPANY_DETAILS, COMPANY_DETAILS_UPDATE, COMPANY_PHOTO_LIST_UPDATE} from "../../../store/modules/company";
  import formData from "../../../core/services/formData";
  import {deepCopy} from "../../../core/services/helper";
  import {mapGetters} from 'vuex'
  import MobileNavPersonal from "../../../components/auth/profile/mobileNavPersonal";
  import CompanyProfile from "../../../components/auth/profile/company/companyProfile";
  import TradeMembershipList from "../../../components/auth/profile/company/trades/membership/list";
  import FormTradeMemberShip from "../../../components/auth/profile/company/trades/membership/form";
  import {
    COMPANY_TRADE_MEMBERSHIP_DETAILS,
    COMPANY_TRADE_MEMBERSHIP_LIST
  } from "../../../store/modules/companyTradeMemberhsip";
  import Errors from "../../../components/auth/common/form/errors";

  export default {
    name: "companyMore",
    components: {
      Errors,
      FormTradeMemberShip,
      TradeMembershipList,
      CompanyProfile,
      MobileNavPersonal,
      CompanyPhotos,
      DragFileInput,
      ValidationProvider,
      ValidationObserver
    },
    data() {
      return {}
    },
    created() {
      this.$store.dispatch(COMPANY_DETAILS);
      this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_LIST);
    },
    computed: {
      ...mapGetters([
        "tradeMemberships", "tradeMembership", "companyPhotos", "companyLoading"
      ]),
      details() {
        return deepCopy(this.$store.getters.companyDetails);
      },

    },
    methods: {
      updateImage(event) {
        if ((this.companyPhotos.length + event.target.files.length) > 6) {
          this.$toast.error("Maximum 6 photos allow");
          return;
        }

        if (event.target.files.length > 0) {
          for (let i in event.target.files) {
            this.$store.dispatch(COMPANY_PHOTO_LIST_UPDATE,
              formData({
                photo: event.target.files[i],
                company_id: this.user.company.id,
                status: 1
              }));
          }
        }

      },
      setCompanyLogo(event) {
        this.details.logo = event.target.files[0]
      },
      saveCompanyDetails() {
        this.$refs.companyDetails.validate().then(success => {
          if (!success) {
            return;
          }
          this.details.company_id = this.user.company.id;
          this.details._photoIndex = 'logo';
          this.$store.dispatch(COMPANY_DETAILS_UPDATE, formData(this.details));
        });
      },
      addNewTradeMembership() {
        this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_DETAILS);
      }
    },
    watch: {
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyDetails.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyDetails.setErrors(ers);
          }
        }
      },
    },
  }
</script>

<style scoped>

</style>
