<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company basic information</p>
      </div>
      <div class="personal-Info-header-right">
        <a href="">Edit</a>
        <button type="submit" form="companyBasicInfo">
          <span v-if="loading" class="spinner-border spinner-border-sm" role="status"></span>
          Save
        </button>
      </div>
    </div>
    <div class="personal-Info-body">
      <div class="personal-Info-body-form-padding">
        <ValidationObserver ref="companyBasicInfo">
          <form id="companyBasicInfo" @submit.prevent="saveCompany" name="companyBasicInfo">
            <div class="form-row">
              <div class="col-md-8 personal-Info-input">
                <label>Company Name</label>
                <validation-provider rules="required" v-slot="{ errors }" name="company name">
                  <input v-model="company.name" type="text" class="form-control" placeholder="Company name"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-8 personal-Info-input">
                <label>Choose your unique business display name</label>
                <!-- <validation-provider rules="required" v-slot="{ errors }" name="display name" vid="display_name">-->
                <input v-model="company.display_name" type="text" class="form-control" placeholder="Display Name"/>
                <!--<errors>{{ errors[0] }}</errors>
              </validation-provider>-->
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Year of Establishment</label>
                <validation-provider rules="required" v-slot="{ errors }" vid="establishment_date"
                                     name="establishment date">
                  <input v-model="company.establishment_date" type="date" class="form-control"
                         placeholder="dd/mm/yyyy"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Office Size</label>
                <input v-model="company.office_space" type="text" class="form-control"
                       placeholder="Office space square feet"/>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Register Address</label>
                <address-form :validate="true" v-if="company.register_address" class="form-row"
                              v-model="company.register_address"/>
              </div>
              <div class="col-md-6 personal-Info-input">
                <div class="row">
                  <div class="col-md-6">
                    <label>Operation Address</label>

                  </div>
                  <div class="col-md-6">
                    <div class="custom-checkbox-button">
                      <div class="custom-checkbox">
                        <input type="checkbox"
                               v-model="sameAsRegisterAddress"
                               class="custom-control-input"
                               id="sameAsRegisterAddress"/>
                        <label class="custom-control-label"
                               for="sameAsRegisterAddress">Same as register address</label>
                      </div>
                    </div>
                  </div>

                </div>
                <address-form :isDisable="sameAsRegisterAddress" :validate="true" v-if="company.operational_address"
                              class="form-row"
                              v-model="company.operational_address"/>
              </div>

              <div class="col-md-12 paddin-nr-20">
                <div class="row">
                  <div class="col-md-12">
                    <p>Business Type</p>
                  </div>
                  <div class="col-md-2" v-for="businessType in businessTypes">
                    <div class="custom-checkbox-button">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" v-model="company.business_type_id[businessType.id]"
                               class="custom-control-input" :value="businessType.id"
                               :id="'businessTypes'+ businessType.id"/>
                        <label class="custom-control-label"
                               :for="'businessTypes'+ businessType.id">{{businessType.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Company Website</label>
                <input v-model="company.website" type="url" class="form-control" placeholder="https://comapny.com"/>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Company Email</label>
                <validation-provider rules="required|email" v-slot="{ errors }" name="Email">
                  <input v-model="company.email" type="email" class="form-control" placeholder="xyz@comapny.com"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Company Phone Number</label>
                <validation-provider rules="required" v-slot="{ errors }" name="phone">
                  <input v-model="company.phone" type="text" class="form-control" placeholder="01XXXXXXXXX"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Company Cell</label>
                <input v-model="company.cell" type="text" class="form-control" placeholder="01234567890"/>
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Company Fax</label>
                <input v-model="company.fax" type="text" class="form-control"
                       placeholder="01234567890"/>
              </div>

              <div class="col-md-6 personal-Info-input">
                <validation-provider rules="required" v-slot="{ errors }" vid="number_of_employee"
                                     name="number of employee">
                  <config-list v-model="company.number_of_employee" label="Number of Employee"
                               alias-name="employee_range"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>

              <div class="col-md-6 personal-Info-input">
                <validation-provider rules="required" v-slot="{ errors }" vid="ownership_type"
                                     name="ownership type">
                  <config-list v-model="company.ownership_type" label="Ownership Types" alias-name="ownership_type"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>

              <div class="col-md-6 personal-Info-input">
                <config-list v-model="company.turnover_id" label="Annual revenue" alias-name="turnover_id"/>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
    <template v-if="company.id">
      <div class="personal-Info-header">
        <div class="personal-Info-header-left">
          <p>Company Products</p>
        </div>
      </div>
      <div class="personal-Info-body" >
        <company-product-form is-main="1" title="Company Main product"/>
        <company-product-form is-main="0" title="Company others product"/>
      </div>
    </template>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {COMPANY_BASIC, COMPANY_BASIC_UPDATE} from "../../../store/modules/company";
  import {BUSINESS_TYPE_LIST} from "../../../store/modules/businessType";
  import {ValidationProvider, ValidationObserver} from "vee-validate";
  import CompanyProductForm from "../../../components/auth/profile/company/CompanyProductForm";
  import AddressForm from "../../../components/auth/common/form/address/AddressForm";
  import SelectList from "../../../components/auth/common/form/SelectList";
  import {deepCopy} from "../../../core/services/helper";
  import address from "../../../core/services/address";
  import ConfigList from "../../../components/auth/common/configList";
  import Errors from "../../../components/auth/common/form/errors";

  export default {
    name: "companyBasic",
    components: {
      Errors,
      ConfigList,
      SelectList,
      AddressForm, CompanyProductForm, ValidationProvider, ValidationObserver
    },
    data() {
      return {
        company: {},
        sameAsRegisterAddress: false
      }
    },
    created() {
      this.$store.dispatch(COMPANY_BASIC);
      this.$store.dispatch(BUSINESS_TYPE_LIST);
    },
    computed: {
      ...mapGetters({companyInfo: "company", businessTypes: "businessTypes", loading: "companyLoading"}),
    },
    methods: {
      saveCompany() {
        this.$refs.companyBasicInfo.validate().then(success => {
          if (!success) {
            return;
          }
          if (this.sameAsRegisterAddress) {
            this.company.operational_address = this.company.register_address;
          }

          for (let key in this.company) {
            if (this.company[key] === null || this.company[key] === "") {
              delete this.company[key];
            }
          }

          this.$store.dispatch(COMPANY_BASIC_UPDATE, this.company);
        });
      }
    },
    watch: {
      'companyInfo': {
        handler(value) {
          this.company = deepCopy(value);
        },
        immediate: true
      },
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyBasicInfo.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyBasicInfo.setErrors(ers);
          }
        }
      },
    }
  }
</script>

<style scoped>

</style>
