<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company Factories Details</p>
      </div>
      <div class="personal-Info-header-right"></div>
    </div>
    <factory-list/>
    <span type="button" v-if="factories.length" class="float-right" @click="addNewFactory">
      <i class="fas fa-plus-circle fa-2x"></i>
    </span>
    <factory-form v-if="factory.form || !factories.length"/>
  </div>
</template>

<script>
  import FactoryList from "../../../components/auth/profile/company/factories/list";
  import FactoryForm from "../../../components/auth/profile/company/factories/form";
  import {COMPANY_FACTORY_DETAILS, COMPANY_FACTORY_LIST} from "../../../store/modules/factories";
  import {mapGetters} from 'vuex'

  export default {
    name: "factoryDetails",
    components: {FactoryForm, FactoryList},
    data() {
      return {
        form: false
      }
    },
    computed: {
      ...mapGetters([
        "factories", "factory"
      ])
    },
    created() {
      this.$store.dispatch(COMPANY_FACTORY_LIST);
    },
    methods: {
      addNewFactory() {
        this.$store.dispatch(COMPANY_FACTORY_DETAILS);
      }
    }
  }

</script>

<style scoped>

</style>
