<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Please Provide Your Valid information's</p>
      </div>
      <div class="personal-Info-header-right">
        <mobile-nav-personal/>
        <a href="">Edit</a>
        <button type="submit" form="profileBasic">
          <span v-if="submit" class="spinner-border spinner-border-sm" role="status"></span>
          Save
        </button>
      </div>
    </div>
    <div class="personal-Info-body">
      <user-profile/>
      <div class="personal-Info-right-bar">
        <ValidationObserver ref="profileBasic">
          <form id="profileBasic" @submit.prevent="UpdateUserInfo" name="profileBasic">
            <div class="form-row">
              <div class="col-md-6 personal-Info-input">
                <label>First Name</label>
                <validation-provider rules="required" vid="first_name" v-slot="{ errors }" name="first name">
                  <input v-model="userInfo.first_name" type="text" class="form-control"
                         placeholder="Mehedi"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Last Name</label>
                <validation-provider rules="required" vid="last_name" v-slot="{ errors }" name="last name">
                  <input type="text" v-model="userInfo.last_name" class="form-control"
                         placeholder="Hassan"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>

              <div class="col-md-6 personal-Info-input">
                <label>Job Title</label>
                <validation-provider rules="required" vid="job_title" v-slot="{ errors }" name="job title">
                  <input type="text" v-model="userInfo.job_title" class="form-control"
                         placeholder="Sr. Manager"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Email Address</label>
                <validation-provider rules="required" vid="email" v-slot="{ errors }" name="email">
                  <input :disabled="!!user.email" type="text" v-model="userInfo.email"
                         class="form-control"
                         placeholder="xyz@gmail.com"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label>Contact Number</label>
                <validation-provider rules="required" vid="phone" v-slot="{ errors }" name="phone">
                  <input :disabled="!!user.phone" type="text" v-model="userInfo.phone" class="form-control"
                         placeholder="01XXXXXXXX"/>
                  <errors>{{ errors[0] }}</errors>
                </validation-provider>
              </div>
              <div class="col-md-6 personal-Info-input">
                <label for="exampleInputEmail6">Telephone Number</label>
                <input id="exampleInputEmail6" type="text" v-model="userInfo.telephone" class="form-control"
                       placeholder="02-XXXXX"/>
              </div>
              <div class="col-md-12 personal-Info-input">
                <label for="exampleInputEmail7">Upload Your Photo</label>
                <div id="exampleInputEmail7" class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text brouser-1">Browse</span>
                  </div>
                  <div class="custom-file">
                    <input @change="userImage" type="file" class="custom-file-input"/>
                    <label class="custom-file-label custom-file-label-custom">{{userInfo.photo &&
                      userInfo.photo.name?userInfo.photo.name:'Your photo'}}</label>
                  </div>
                </div>
              </div>

            </div>
            <address-form v-if="userInfo.address" :validate="true" class="form-row" v-model="userInfo.address"/>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>

<script>
  import AddressForm from "../../../components/auth/common/form/address/AddressForm";
  import formData from "../../../core/services/formData";
  import address from "../../../core/services/address";
  import {deepCopy} from "../../../core/services/helper";
  import MobileNavPersonal from "../../../components/auth/profile/mobileNavPersonal";
  import UserProfile from "../../../components/auth/profile/userProfile";
  import {ValidationProvider, ValidationObserver} from "vee-validate";
  import Errors from "../../../components/auth/common/form/errors";


  export default {
    components: {
      Errors,
      UserProfile,
      MobileNavPersonal,
      AddressForm,
      ValidationProvider,
      ValidationObserver
    },
    data() {
      return {
        userInfo: {},
        submit: false
      }
    },
    methods: {
      UpdateUserInfo() {
        this.$refs.profileBasic.validate().then(success => {
          if (!success) {
            return;
          }
          this.submit = true;
          this.userInfo._method = 'put';
          delete this.userInfo.company;
          this.$axios.post(`account/${this.userInfo.id}`, formData(this.userInfo))
            .then(({data}) => {
              this.$auth.setUser(data.user);
              this.$toast.success('Profile update successfully');
              this.submit = false;
            }).catch(error => {
            this.submit = false;
            console.log(error.response.data.errors);
          });
        });
      },
      userImage(event) {
        this.userInfo.photo = event.target.files[0];
      }
    },
    watch: {
      'user': {
        handler(value) {
          this.userInfo = deepCopy(value);
          if (!value.address) {
            this.userInfo.address = deepCopy(address);
          }
        },
        immediate: true
      },
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.profileBasic.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.profileBasic.setErrors(ers);
          }
        }
      }

    }
  }
</script>

<style scoped>
  .personal-Info-input{
    margin-bottom: 20px;
  }
</style>
