<template>
  <div>
    <div class="personal-Info-header">
      <div class="personal-Info-header-left">
        <p>Company Trades</p>
      </div>
      <div class="personal-Info-header-right"></div>
    </div>
    <trade-list/>
    <span type="button" v-if="trades.length" class="float-right" @click="addNewTrade">
      <i class="fas fa-plus-circle fa-2x"></i>
    </span>
    <form-trades v-if="trade.form || !trades.length"/>

    <div class="personal-Info-header company-port">
      <div class="personal-Info-header-left">
        <p>Company nearest port</p>
      </div>
      <div class="personal-Info-header-right"></div>
    </div>

    <port-list/>
    <span type="button" v-if="ports.length" class="float-right" @click="addNewPort">
      <i class="fas fa-plus-circle fa-2x"></i>
    </span>
    <form-port v-if="port.form || !ports.length"/>
  </div>
</template>

<script>

  import {COMPANY_TRADE_DETAILS, COMPANY_TRADE_LIST} from "../../../store/modules/companyTrade";
  import FormTrades from "../../../components/auth/profile/company/trades/form";
  import TradeList from "../../../components/auth/profile/company/trades/list";
  import {mapGetters} from 'vuex'
  import PortList from "../../../components/auth/profile/company/ports/list";
  import FormPort from "../../../components/auth/profile/company/ports/form";
  import {COMPANY_PORT_DETAILS, COMPANY_PORT_LIST} from "../../../store/modules/companyPort";
  import {
    COMPANY_TRADE_MEMBERSHIP_DETAILS,
    COMPANY_TRADE_MEMBERSHIP_LIST
  } from "../../../store/modules/companyTradeMemberhsip";
  import FormTradeMemberShip from "../../../components/auth/profile/company/trades/membership/form";
  import TradeMembershipList from "../../../components/auth/profile/company/trades/membership/list";

  export default {
    name: "tradeDetails",
    components: {TradeMembershipList, FormTradeMemberShip, FormPort, PortList, TradeList, FormTrades},
    created() {
      this.$store.dispatch(COMPANY_TRADE_LIST);
      this.$store.dispatch(COMPANY_PORT_LIST);
    },
    data() {
      return {
        form: false
      }
    },
    computed: {
      ...mapGetters([
        "trades", "trade", "ports", "port", "tradeMemberships", "tradeMembership"
      ])
    },
    methods: {
      addNewTrade() {
        this.$store.dispatch(COMPANY_TRADE_DETAILS);
      },
      addNewPort() {
        this.$store.dispatch(COMPANY_PORT_DETAILS);
      }
    }
  }
</script>

<style scoped>
  .company-port{
    margin-top: 100px;
  }
</style>
