<template>
  <div class="seller-panel-left-sidebar" :class="{'show-nav':showNav}" ref="sellerSidebar">
    <div class="mobile-close-button">
      <i class="far fa-times-circle"></i>
    </div>
    <ul class="nav nav-tabs">
      <li>
        <nuxt-link to="/user">
          <i class="fas fa-home"></i> Home
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/message">
          <i class="fas fa-envelope-open-text"></i> Message
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/order" aria-selected="false">
          <i class="fab fa-first-order-alt"></i> Order
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/rfq">
          <i class="fas fa-align-justify"></i> RFQ
        </nuxt-link>
      </li>
      <li>
        <nuxt-link mobile-nav-open="true" to="/user/products" aria-selected="false">
          <i class="fas fa-shopping-basket"></i> Products
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/plan">
          <i class="fas fa-align-justify"></i> Ad Plan
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/analytics">
          <i class="fas fa-align-justify"></i> Analytics
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/profile" aria-selected="false">
          <i class="fas fa-user"></i> Profile
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/transaction">
          <i class="fas fa-align-justify"></i> Transaction
        </nuxt-link>
      </li>
      <li>
        <nuxt-link to="/user/settings">
          <i class="fas fa-align-justify"></i> Settings
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
  import {SET_MOBILE_NAV} from "../../../store/modules/config";

  export default {
    name: "AuthSidebar",
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["show-nav"];
      }
    },
    mounted() {
      this.$refs.sellerSidebar.addEventListener('click', (event) => {
        if (!event.target.hasAttribute('mobile-nav-open')) {
          this.closeMobileNav();
        }
      });
    },
    methods: {
      closeMobileNav() {
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'show-nav', status: false});
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'products-card-left-show-nav', status: false});
      }
    }
  }

</script>

<style scoped>

</style>
