<template>
  <div class="seller-panel-left-sidebar" :class="{'show-nav':showNav}" ref="sellerSidebar">
    <div class="mobile-close-button">
      <i class="far fa-times-circle"></i>
    </div>
    <ul class="nav nav-tabs">
      <li>
        <a class="active" id="home-tab" data-toggle="tab" href="Javascript:void(0)" role="tab" aria-controls="home"
           aria-selected="true"><i class="fas fa-home"></i> Dashboard </a>
      </li>
      <li>
        <a id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message"
           aria-selected="false"><i class="fas fa-envelope-open-text"></i> Message </a>
      </li>
      <li>
        <a id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order"
           aria-selected="false"><i class="fab fa-first-order-alt"></i> Order </a>
      </li>
      <li>
        <a id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="order"
           aria-selected="false"> <i class="fas fa-align-justify"></i> RFQ </a>
      </li>
      <li>
        <a id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="order"
           aria-selected="false"><i class="fas fa-shopping-basket"></i> Transaction </a>
      </li>
      <li>
        <a href=""><i class="fas fa-align-justify"></i> Profile </a>
      </li>

      <li>
        <a href=""><i class="fas fa-align-justify"></i> Settings </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import {SET_MOBILE_NAV} from "../../../store/modules/config";

  export default {
    name: "AuthSidebarBuyer",
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["show-nav"];
      }
    },
    mounted() {
      this.$refs.sellerSidebar.addEventListener('click', (event) => {
        if (!event.target.hasAttribute('mobile-nav-open')) {
          this.closeMobileNav();
        }
      });
    },
    methods: {
      closeMobileNav() {
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'show-nav', status: false});
        this.$store.dispatch(SET_MOBILE_NAV, {index: 'products-card-left-show-nav', status: false});
      }
    }
  }

</script>

<style scoped>

</style>
