<template>
  <section class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12  col-lg-2">
          <header-logo/>
        </div>

        <div class="col-md-9 seller-panel-user">
          <ul>
            <li>
              <nuxt-link to="/user">
                <profile-image/>
                My Account <i class="fas fa-sort-down"></i>
              </nuxt-link>

              <div class="drop-menu">
                <div class="drop-menu-header">
                  <p>Hi {{displayName}}</p>l
                  <logout/>
                </div>

                <ul>
                  <li>
                    <nuxt-link to="user/message"> New Inquires <span> 50 </span></nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="user/message"> New Connections <span> 50 </span></nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="user/rfq"> New RFQs <span> 50 </span></nuxt-link>
                  </li>

                  <li>
                    <a href=""> My Tizaara <i class="fas fa-angle-down"></i> </a>
                    <div class="drop-menu-3">
                      <ul>
                        <li>
                          <nuxt-link to="user/rfq">Manage RFQs</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/user/order"> My Orders</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/"> My Favorites</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/user"> My Account</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/user/plan" href=""> Membership Plan</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/user/plan"> Manage AD</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="user/products">Manage Product</nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>

              <a href="">Help <i class="fas fa-sort-down"></i></a>
            </li>
            <li>
              <a href=""><i class="far fa-bell"></i> Notifications </a>
            </li>
          </ul>
        </div>
      </div>
      <hr/>
    </div>
  </section>
</template>

<script>
  import HeaderLogo from "../../common/navigation/header/HeaderLogo";
  import Logout from "./logout";
  import ProfileImage from "../profile/profileImage";

  export default {
    name: "AuthHeader",
    components: {ProfileImage, Logout, HeaderLogo}
  }
</script>

<style scoped>

</style>
