<template>
  <div>
    <select-list :label="label" text="label" index="value" :items="items" v-model="configValue"></select-list>
  </div>
</template>

<script>
  import SelectList from "./form/SelectList";
  import {SYSTEM_CONFIG_LIST} from "../../../store/modules/config";

  export default {
    name: "configList",
    components: {SelectList},
    props: {
      value: {
        default: '',
        required: true
      },
      label: {
        required: true,
        type: String
      },
      selected: {
        default: 'Please select',
        required: false,
        type: String
      },
      aliasName: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        configValue: this.value
      }
    },
    created() {
      this.$store.dispatch(SYSTEM_CONFIG_LIST);
    },
    computed: {
      items() {
        return this.$store.getters.configByAlias(this.aliasName);
      }
    },
    watch: {
      value: {
        handler(value) {
          this.configValue = value;
        },
        immediate: true
      },
      configValue(value) {
        this.$emit('input', value);
      }
    }
  }
</script>

<style scoped>

</style>
