<template>
  <a @click="logout" class="cursor-pointer">Logout</a>
</template>

<script>
  export default {
    name: "logout",
    methods: {
      logout()  {
        this.$toast.show('Logging out...');
        this.$auth.logout()
      }
    }
  }
</script>

<style scoped>

</style>
