<template>
  <div class="tab-content">
    <div class="tab-pane fade show active">

      <div class="col-md-12">
        <div class="buyer-header">
          <div class="buyer-header-left">
            <h2>Buyer Dashboard</h2>
          </div>

          <div class="buyer-header-right" v-if="acctType === 3">
            <a href="Javascript:void(0)" @click="switchAccount">Switch to Seller</a>
          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="row">

          <div class="col-md-6">
            <div class="left-box">

              <div class="left-box-header">
                <div class="left-box-header-user">
                  <img src="http://emilcarlsson.se/assets/louislitt.png" alt=""/>
                </div>

                <div class="left-box-header-text">
                  <h3>Mehedi Hassan</h3>
                  <p> Welcome back!</p>
                </div>

              </div>


              <div class="col-md-12">
                <div class="your-profile">
                  <label>Your profile is 50% complete.</label>
                  <div class="progress" style="height: 7px;">
                    <div class="progress-bar" role="progressbar"
                         style="width: 50%;background-color:#F05A28" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p> Complete Profile </p>

                </div>
              </div>


              <div class="col-md-12">
                <div class="change-usaer-and-pas">

                  <div class="change-usaer-and-left">
                    <a href="">Change Password </a>
                  </div>

                  <div class="change-usaer-and-right">
                    <a href="">Manage Address </a>
                  </div>

                </div>

                <div class='card-footer card-footer-user'>

                  <ul>
                    <li> Total Order <br>
                      <h3> 120</h3>
                    </li>
                    <li> Transactions <br>
                      <h3> $1231374 </h3>
                    </li>
                    <li> Favorites <br>
                      <h3> 300 </h3>
                    </li>
                    <li> My Coupons <br>
                      <h4> 00 </h4>
                    </li>


                  </ul>


                </div>


              </div>


            </div>

          </div>

          <div class="col-md-6">
            <div class="right-box">

              <div class="right-box-header">
                <div class="right-box-header-left">

                  <h3>Notifications</h3>

                </div>

                <div class="right-box-header-right">

                  <div class="dropdown">
                    <button class="btn   dropdown-toggle" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Last Week
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                </div>
              </div>


              <div class="buyer-notifications">

                <ul>

                  <li>

                    <div class="notifications-icon">
                      <i class="far fa-bell" aria-hidden="true"></i>
                      <span> </span>

                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>

                  <li class="active">

                    <div class="notifications-icon">

                      <i class="far fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>

                  <li>

                    <div class="notifications-icon">

                      <i class="far fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>

                  <li>

                    <div class="notifications-icon">
                      <i class="far fa-bell" aria-hidden="true"></i>
                      <span> </span>

                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>

                  <li class="active">

                    <div class="notifications-icon">

                      <i class="far fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>

                  <li>

                    <div class="notifications-icon">

                      <i class="far fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="notifications-text">

                      <div class="notifications-text-header">
                        <div class="notifications-text-header-left">
                          <a href="#">Arrange Orders</a>
                        </div>
                        <div class="notifications-text-header-right">
                          <p>11:11PM 06/16/2020</p>
                        </div>
                      </div>

                      <div class="notifications-text-body">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        aliquyam erat, sed diam voluptua. At vero eos et

                      </div>


                    </div>

                  </li>


                </ul>


              </div>


            </div>

          </div>


        </div>

      </div>

      <div class="col-md-12">
        <div class="table-bayer-card">
          <div class="table-bayer-header">

            <h3> Recent Order </h3>

          </div>

          <div class="table-bayer-body">


            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Date</th>
                  <th scope="col">Ship To</th>
                  <th scope="col">Order Total</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a
                    href="#">Reorder</a></td>
                </tr>
                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a
                    href="#">Reorder</a></td>
                </tr>
                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a
                    href="#">Reorder</a></td>
                </tr>

                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a href="#">Reorder</a>
                  </td>
                </tr>
                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a
                    href="#">Reorder</a></td>
                </tr>
                <tr>
                  <td scope="row">12109384467</td>
                  <td>06/16/2020</td>
                  <td>Mehedi Hassan</td>
                  <td>390</td>
                  <td class="text-orang">Panding</td>
                  <td class="text-right_er"><a href="">View Order</a> <a
                    href="#">Reorder</a></td>
                </tr>
                </tbody>
              </table>


              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12">

        <div class="row">

          <div class="col-md-6">
            <div class="left-box">

              <div class="right-box-header">
                <div class="right-box-header-left">

                  <h3>Recent Activities</h3>

                </div>

                <div class="right-box-header-right">

                  <div class="dropdown">
                    <button class="btn   dropdown-toggle" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Last Week
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                </div>
              </div>

              <div class="recent-list-card-list">

                <ul>
                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>


                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>

                  <li>
                    <div class="recent-list-card-list-left">
                      <p> Today 6:00 pm</p>
                    </div>

                    <div class="recent-list-card-list-right">
                      <p><i class="fas fa-desktop"></i> <a href=""> Viewed </a>
                        Suppliers for Product Name </p>
                    </div>


                  </li>


                </ul>


              </div>


            </div>
          </div>

          <div class="col-md-6">
            <div class="right-box">

              <div class="right-box-header">
                <div class="right-box-header-left">

                  <h3>Transaction History</h3>

                </div>

                <div class="right-box-header-right">

                  <div class="dropdown">
                    <button class="btn   dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Last Week
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                </div>
              </div>


              <div class="transaction-body">

                <ul>
                  <li>

                    <p><strong> Ammount</strong></p>
                    <p><strong> Type </strong></p>
                    <p><strong>Transaction ID </strong></p>
                    <p><strong>Date </strong></p>


                  </li>

                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>
                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                  <li>

                    <p>$1000</p>
                    <p>Cash Deposit</p>
                    <p class="text-orang">124879571256</p>
                    <p>06/18/2020</p>

                  </li>


                </ul>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      switchAccount() {
        this.$router.push('/user');
      }
    },

    computed: {
      acctType: function () {
        return this.$auth.user.account_type;
      }
    }
  }
</script>

<style scoped>

</style>
