<template>
  <div class="left_bar">
    <ul class="nav navbar-nav">
      <li class="list-group-item bg-dark text-white text-uppercase cursor-pointer">
        <i class="fas fa-th-large text_color"></i>&nbsp;
        &nbsp; <strong>Categories</strong>
        <span>
           <nuxt-link to="/categories" class="float-right text-white">See All</nuxt-link>
         </span>
      </li>
      <!-- <li class="dropdown" @click="callChildCategories(1)">
        <a class="list-group-item text-dark text-decoration-none" data-toggle="dropdown"><i
          class="fas fa-clock"></i> Electroincs Assosories <span class="fa fa-chevron-right"></span></a>

      </li>-->


      <li class="list-group-item" v-for="(category, index) in parentCategories" @click="callChildCategories(index)">
        <i class="fas fa-clock"></i>
        <a class="text-decoration-none cursor-pointer  text-dark">{{category.name}}
          <span v-if="activeIndex===index && open" class="fa fa-chevron-right"></span></a>
        <childcategories :categories="childCategories" v-if="activeIndex===index && open"></childcategories>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import Childcategories from "./childCategories";

  export default {
    name: "homeCategories",
    components: {Childcategories},
    data() {
      return {
        activeIndex: 1,
        open: false,
      }
    },
    computed: {
      ...mapGetters(['categories', 'parentCategories']),
      childCategories() {
        if (this.parentCategories.length) {
          return this.$store.getters.categoryChildrenById(this.parentCategories[this.activeIndex].id)
        }
      }
    },
    methods: {
      callChildCategories(index) {
        this.open = this.activeIndex === index ? !this.open : true;
        this.activeIndex = index;
      }
    }
  }
</script>

<style scoped>
  .open-categories {
    position: absolute;
    transform: translate3d(0px, -271px, 0px);
    top: 0;
    left: 124px;
    will-change: transform;
  }

</style>
