<template>
  <ul class="dropdown-menu side_margin open-categories d-block">
    <div class="row mt-2">
      <template v-if="categories.length">
        <div class="col-md-4" v-for="category in categories">
          <ul class="list_style">
            <li><b>{{category.name}}</b></li>
            <template v-if="category.children">
              <li v-for="child in category.children">
                <nuxt-link :to="`/categories/${child.id}`">{{child.name}}</nuxt-link>
              </li>
            </template>
          </ul>
        </div>
      </template>
      <span v-else class="text-info">There is no item in the selected category</span>
    </div>
  </ul>
</template>

<script>
  export default {
    name: "childCategories",
    props: ['categories']
  }
</script>

<style scoped>

</style>
