<template>
  <div>
    <!--Forget Section going here-->
    <section class="top-nav-navbar">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class='top-nav '>
            <ul>
              <li><a href=''> HOME > </a></li>
              <template v-if="categories">
                <li v-for="(category, index) in categories"><a href=''> {{category.name}} <span v-if="(categories.length-1)!==index"> ></span></a></li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="top-heading">
      <div class="container-fluid">
        <div class="col-md-12">
          <h3> Product Type Name <span> (2000 products available) </span></h3>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container-fluid">
        <div class="col-md-12 ">

          <div class="location-heading">
            <div class="row">
              <div class="col-md-1 location-card text-center">
                <h3>Location</h3>
              </div>
              <div class="col-md-2 location-card ">

                <form class="card card-sm">
                  <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto text-body-icon ">
                      <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                      <input class="form-control form-control-lg form-control-borderless" type="search"
                             placeholder="Country/Region">
                    </div>

                  </div>
                </form>
              </div>

              <div class="col-md-8 location-card border-left">
                <ul class='location'>
                  <li class='active'><a href=''> World Wide </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>
                  <li><a href=''> City Name </a></li>

                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Forget Section end here-->

    <section class="product-card">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="row">

            <div class="col-sm-12 col-md-2 ">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header  card-header-custom" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                        <span> Related Category  	</span> <i class="fas fa-angle-down"></i>
                      </button>
                    </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                       data-parent="#accordionExample">
                    <div class="card-body">
                      <ul>

                        <li><a href=''>Related Product Type Name </a></li>

                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>
                        <li><a href=''>Related Product Type Name </a></li>

                      </ul>

                      <div class='price-left'>

                        <h3> Price </h3>


                        <div class="input-group">

                          <input type="text" placeholder='min' class="form-control fn-1">
                          <div class="input-group-prepend fn-2">
                            <span class="input-group-text fn-3"> - </span>
                          </div>
                          <input type="text" placeholder='max' class="form-control fn-1">
                        </div>


                      </div>

                      <div class='price-left'>
                        <h3> Supplier Type </h3>

                        <div class="form-check">
                          <input type="checkbox" class="form-check-input">
                          <label class="form-check-label">Trade Assurance</label>
                        </div>

                        <div class="form-check">
                          <input type="checkbox" class="form-check-input">
                          <label class="form-check-label">Verified Supplier</label>
                        </div>


                      </div>

                      <div class='price-left'>
                        <h3> Product Type </h3>

                        <div class="form-check">
                          <input type="checkbox" class="form-check-input">
                          <label class="form-check-label">Ready to Ship</label>
                        </div>

                        <div class="form-check">
                          <input type="checkbox" class="form-check-input">
                          <label class="form-check-label">Paid Samples</label>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-sm-12 col-md-7">

              <!-- post -  ---->
              <div class='product-list' v-for="i in 10" :key="i">
                <div class="row">

                  <div class="col-md-3 slider-box">
                    <div class='slider-bg'>

                      <div class='heart'>
                        <img src='~assets/img/products/heart.svg'>
                      </div>
                      <div class="carousel slide" data-ride="carousel">
                        <carousel-list :items="[1,2,3]" class="carousel-inner" :bullet="false">
                          <div slot="image" >
                            <img src="~assets/img/products/1.png" class="d-block w-100" alt="...">
                          </div>

                          <template slot="controlNav">
                            <button type="button" data-glide-dir="<" class="carousel-control-prev">
                              <span class="carousel-control-prev-icon  next-color" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </button>
                            <button type="button" data-glide-dir=">" class="carousel-control-next">
                              <span class="carousel-control-next-icon next-color" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </button>
                          </template>
                        </carousel-list>
                      </div>

                      <div class='slider-footer'>
                        1/6
                      </div>
                    </div>

                  </div>
                  <div class="col-md-5 product-details">

                    <h4>{{fullProduct.name}}</h4>
                    <div class='price'>


                      <li >${{fullProduct.productTypes[0].price[0].amount}} <span>/ Piece</span> for {{fullProduct.productTypes[0].price[0].rangeMinimum}} to {{fullProduct.productTypes[0].price[0].rangeMaximum}} products </li>
                      <li >${{fullProduct.productTypes[1].price[0].amount}} <span>/ Piece</span> for {{fullProduct.productTypes[0].price[0].rangeMinimum}} to {{fullProduct.productTypes[0].price[0].rangeMaximum}} products </li>

                    </div>

                    <div class='list'>

                      <ul>
                        <li> {{fullProduct.productInfo[0].title}}: <b> {{fullProduct.productInfo[0].value}}</b></li>
                        <li> {{fullProduct.productInfo[1].title}}: <b> {{fullProduct.productInfo[1].value}}</b></li>
                        <li> {{fullProduct.productInfo[2].title}}: <b> {{fullProduct.productInfo[2].value}}</b></li>

                      </ul>

                    </div>

                    <div class='product-footer'>
                      <input type="checkbox" aria-label="Checkbox for following text input"> Compare

                    </div>

                  </div>

                  <div class="col-md-4 product-details">
                    <h4>Company Name Line</h4>

                    <div class='country'>
                      <ul>

                        <li><span> <img src='~assets/img/products/2000px-Flag_of_Bangladesh.svg.png'> <span
                          class='bn'>  BN</span> </span> Company Address Line 1
                        </li>

                      </ul>

                    </div>

                    <div class='verified'>
                      <ul>

                        <li><img class='verified-Seller' src='~assets/img/products/correct.svg'> Verified Seller</li>
                        <li><img class='youtube' src='~assets/img/products/youtube.png'> Company Video</li>

                      </ul>

                    </div>

                    <div class='response-rate'>
                      <ul>

                        <li><span> 5.0 <img src='~assets/img/products/star.svg'></span></li>
                        <li class='replay'><img src='~assets/img/products/replay.png'> 100.0% Response Rate</li>

                      </ul>

                    </div>
                    <div class='company-line-footer '>
                      <button type="button" class="btn btn-orang"><i class="far fa-envelope"></i> Contact Supplier
                      </button>

                    </div>

                  </div>

                </div>
              </div>
              <!-- post -end ---->

            </div>

            <div class="col-md-3">
              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->

              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->

              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->
              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->
              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->

              <!--- loop start -->
              <div class='right-Shoes-card'>

                <div class='right-Shoes-card-images'>

                  <div class='right-Shoes-card-images-box'>
                    <img src='~assets/img/products/shous.png'>
                  </div>

                  <span>  Shoes  </span>
                </div>

                <div class='right-footer'>
                  <p> North Star White Casual Sneaker </p>
                </div>
              </div>

              <!--- loop end -->
            </div>

          </div>
        </div>
      </div>
    </section>

    <!--footer going here-->
  </div>
</template>

<script>
  import CarouselList from "../../components/common/carousel/carouselList";
  import {CATEGORY_LIST} from "../../store/modules/categories";
  import fullProduct from '../../components/product/fullProduct.json'

  export default {
    name: "categoryProducts",
    data(){
      return{
        fullProduct
      }
    },
    components: {CarouselList},
    created() {
      this.$store.dispatch(CATEGORY_LIST);
    },
    computed: {
      categories() {
        if (this.$store.getters.categories)
          return this.$store.getters.parentCategoriesById(Number(this.$route.params.id))
      }
    }
  }
</script>

<style scoped>

</style>
