<template>
  <div>
    <h4 class="page-title">HOME > All CATEGORIES</h4>
    <div class="container-fluid login-container">

      <div class="row col-md-12">
        <div class="all-category">
          <div class="category-card" :class="{active:index===activeIndex}" @click="callChildCategories(index)"
               v-for="(category, index) in parentCategories">
            <div class="category-images">
              <i class="fas fa-clock"></i>
            </div>
            <div class="category-text">
              <p>{{category.name}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-8 '>
          <template v-for="category in parentCategories">
            <div class='category-title'>
              <div class='category-title-card'>
                <div class="category-title-card-left">
                  <div class="category-images">
                    <i class="fas fa-clock"></i>
                  </div>
                  {{category.name}}
                </div>
              </div>
            </div>
            <div class='row category-list-padding' v-if="category.children">
              <div class='col-md-6 category-list' v-for="children in category.children">
                <h3>{{children.name}} <span>({{Math.floor(Math.random() * (300000 - 250 + 1)) + 120}})</span></h3>
                <ul v-if="children.children">
                  <li v-for="child in children.children">
                    <nuxt-link :to="`/categories/${child.id}`">{{child.name}}</nuxt-link>
                  </li>
                </ul>
              </div>
            </div>
          </template>
        </div>

        <div class='col-md-4 '>

          <div class='category-title'>
            <div class='category-title-card'>
              Buying on Tizaara
            </div>
          </div>
          <div class="right-card">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500 Learn. </p>
            <ul class="tizaara-services">
              <li><a href=""> Buyer Services </a></li>
              <li><a href=""> Safe Trading Center </a></li>
              <li><a href="">Buyer Success Stories </a></li>
              <li><a href="">Buyer Community </a></li>

            </ul>
          </div>
          <div class='category-title'>
            <div class='category-title-card'>
              Buying Tools
            </div>
          </div>

          <div class="right-card">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500 Learn. </p>
            <ul class="buying-tools">
              <li><i class="fas fa-clock" aria-hidden="true"></i> <span> <a href=""> Message Center   </a> <p>Char with buyers in real time</p> </span>
              </li>
              <li><i class="fas fa-clock" aria-hidden="true"></i> <span><a href=""> Tread Manager  </a> <p>Manage inquiries from buyers</p> </span>
              </li>
              <li><i class="fas fa-clock" aria-hidden="true"></i> <span> <a href=""> Trade Alert   </a> <p>Stay ahead with tread updates</p> </span>
              </li>
              <li><i class="fas fa-clock" aria-hidden="true"></i> <span>  <a href=""> Buying Request   </a> <p>Tell suppliers your sourcing needs</p> </span>
              </li>
              <li><i class="fas fa-clock" aria-hidden="true"></i> <span><a href=""> Favotites </a> <p>Bookmark produvts and suppliers</p> </span>
              </li>
            </ul>
          </div>
          <div class='category-title'>
            <div class='category-title-card'>
              Safety & Security Center
            </div>
          </div>

          <div class="right-card">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500 Learn. </p>
            <ul class="security-Center">
              <li><a href=""> View the latest banned paid members on Tizaara.com</a></li>
              <li><a href=""> View the latest banned paid members on Tizaara.com </a></li>
              <li><a href="">Buyer Success Stories </a></li>
              <li><a href="">View the latest banned paid members on Tizaara.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {CATEGORY_LIST} from "../../store/modules/categories";

  export default {
    name: "categories",
    data() {
      return {
        activeIndex: 0
      }
    },
    created() {
      this.$store.dispatch(CATEGORY_LIST);
    },
    computed: {
      ...mapGetters(['categories', 'parentCategories']),
      childCategories() {
        if (this.parentCategories.length) {
          return this.$store.getters.categoryChildrenById(this.parentCategories[this.activeIndex].id)
        }
      }
    },
    methods: {
      callChildCategories(index) {
        this.activeIndex = index;
      }
    }
  }
</script>

<style scoped>
  .page-title {
    padding-left: 15px;
  }

</style>
