<template>
    <vue-glide :perView="1" :bullet="bullet">
      <vue-glide-slide v-for="i in items" :key="i">
        <slot name="image" v-bind:item="i"></slot>
      </vue-glide-slide>
      <template slot="control">

        <slot name="controlNav">
          <p>data-glide-dir="{i}"</p>
          <button type="button" data-glide-dir="<" class="carousel-control-prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </button>

          <button type="button" data-glide-dir=">" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only"></span>
          </button>
        </slot>
      </template>
    </vue-glide>
</template>

<script>
  import Vue from 'vue'
  import VueGlide from 'vue-glide-js';


  Vue.use(VueGlide);

  export default {
    props: {
      items: {
        type: Object | Array,
        required: true
      },
      bullet:{
        default: true,
        required: false
      },
      duration: {
        default: 200,
        required: false
      }
    },
    /* components: {Glide, GlideSlide},*/
    name: "carouselList"
  }
</script>
<style>
  @import 'vue-glide-js/dist/vue-glide.css';

  /* @import '@vue-glide-js/dist/vue-glide.css';*/

</style>
