<template>
  <div class="tab-content">
    <div class="tab-pane fade show active">
      <div class="row">
        <div class="col-sm-12 col-md-8 ">
          <div class="alert alert-danger alert-danger-custom" role="alert">
            <i class="fas fa-exclamation-circle"></i> Hello {{displayName}}, You didn't complete your profile.
            <nuxt-link to="/user/profile" class="alert-link">Please update your profile.</nuxt-link>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 " v-if="acctType === 3">
          <div class=" seller-panel" >
            <h3 class="cursor-pointer" @click="switchAccount">Switch to Buyer</h3>
          </div>

        </div>
      </div>

      <div class="seller-panel-card">
        <div class="seller-panel-line">
          <div class="seller-panel-left">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="seller-panel-right">
            <h3>155</h3>
            <p>Unread Message</p>
          </div>
        </div>

        <div class="seller-panel-line">
          <div class="seller-panel-left">
            <i class="fas fa-users"></i>
          </div>
          <div class="seller-panel-right">
            <h3>05</h3>
            <p> Contacts</p>
          </div>
        </div>

        <div class="seller-panel-line">
          <div class="seller-panel-left">
            <i class="fas fa-question"></i>
          </div>
          <div class="seller-panel-right">
            <h3>00</h3>
            <p> Quotation</p>
          </div>
        </div>

        <div class="seller-panel-line">
          <div class="seller-panel-left">
            <i class="fas fa-cube"></i>
          </div>
          <div class="seller-panel-right">
            <h3>00</h3>
            <p> Total Products</p>
          </div>
        </div>
      </div>

      <div class="seller-panel-product">
        <div class="seller-panel-product-card">
          <div class="seller-panel-header-enquires">
            <h1>ENQUIRES</h1>

            <h3>270</h3>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-footer">
            <a href="">See All</a>
          </div>
        </div>

        <div class="seller-panel-product-card">
          <div class="seller-panel-header-enquires seller-panel-header-buy">
            <h1>BUY LEADS</h1>

            <h3>270</h3>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-footer">
            <a href="">See All</a>
          </div>
        </div>

        <div class="seller-panel-product-card">
          <div class="seller-panel-header-enquires seller-panel-header-view">
            <h1>PAGE VIEWS</h1>

            <h3>270</h3>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-list">
            <div class="seller-panel-name-line-list-left">
              <h4>Name Line Here</h4>
              <span> Address Line1, Address Line 2</span>
              <p>Product Type</p>
            </div>

            <div class="seller-panel-name-line-list-right">
              <p><i class="far fa-clock"></i> 1st Feb</p>
            </div>
          </div>

          <div class="seller-panel-name-line-footer">
            <a href="">See All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    methods: {
      switchAccount() {
        this.$router.push('/user/buyer');
      }
    },

    computed: {
      acctType: function () {
        return this.$auth.user.account_type;
      }
    }
  }
</script>

<style scoped>

</style>
