<template>
  <div class="tab-pane fade show active">
    <div id="frame">
     <sidebar/>
     <nuxt-child/>
    </div>
  </div>
</template>

<script>
  import Sidebar from "../../components/auth/message/sidebar";
  export default {
    name: "message",
    components: {Sidebar}
  }
</script>

<style scoped>

</style>
