<template>
  <div class="tab-pane">
    <div class="products-card">
      <div class="products-card-left" :class="{'products-card-left-show-nav':showNav}">
        <h3>Products</h3>
        <div class="nav side-nave">
          <nuxt-link to="/user/products/post-product" class="nav-link">Post Product</nuxt-link>
          <nuxt-link to="/user/products" class="nav-link">Manage Products</nuxt-link>
        </div>
        <div class="my-Products">
          <h2> My Products </h2>
          <ul>
            <li>Add Price </li>
            <li>Add Bulk Price </li>
            <li>Add Bulk Product </li>
            <li>Add Description </li>
            <li>Add Product Video </li>
          </ul>
        </div>
      </div>
      <nuxt-child></nuxt-child>
    </div>
  </div>
</template>
<script>
  export default {
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["products-card-left-show-nav"];
      }
    }
  }
</script>
<style scoped>

</style>
