<template>
  <div class="tab-pane fade show active">
    <div class="manage-profile-card">
      <div class="manage-profile-card-header">
        <div class="progress-line">
          <div class="progress-line-left">
            <h3>Manage Profile</h3>
          </div>

          <div class="progress-line-right">
            <div class="progress" style="height: 10px;">
              <div class="progress-bar" role="progressbar" :style="{width: user.profile_completion+'%'}"
                   :aria-valuenow="user.profile_completion" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
          </div>
        </div>

        <p>Complete your profile to attract genuine buyers</p>
      </div>

      <div class="manage-profile-card-body">
        <seller-profile-nav/>
        <nuxt-child></nuxt-child>
      </div>
    </div>
  </div>
</template>
<script>
  import SellerProfileNav from "../../components/auth/profile/SellerProfileNav";

  export default {
    components: {SellerProfileNav},
    name: "profile"
  }
</script>

<style scoped>

</style>

