.buyer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.buyer-header-left h2 {
  color: #212B36;
  font-size: 18px;
}

.buyer-panel-body {
  width: 95%;
}

.buyer-header-right a{
  color: #F05A28;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

}

.left-box{
  box-shadow: 0px 3px 6px #0000000D;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 22px;
  margin-bottom: 20px;
  padding-bottom: 0px;

}

.right-box{
  box-shadow: 0px 3px 6px #0000000D;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 22px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.table-bayer-card{
  box-shadow: 0px 3px 6px #0000000D;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 22px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.left-box-header {
  display: flex;
  align-items: center;

}


.left-box-header-user {
  border: 4px solid #EF5927;
  width: 69px;
  height: 69px;
  border-radius: 100%;
  overflow: hidden;
}

.left-box-header-user img {
  height: 100%;
}

.left-box-header-text{
  width: 90%;
}

.left-box-header-text h3 {
  font-size: 18px;
  color: #212B36;
  margin-bottom: 0px;
}

.left-box-header-text p {
  color: #212B36;
  font-size: 14px;
}

.left-box-header-text {
  width: 200px;
  text-align: center;
}

.your-profile label{
  color: #212B36;
  font-size: 14px;
}

.your-profile {
  margin-top: 30px;
}

.your-profile p {
  color: #F05A28;
  font-size: 14px;
}


.change-usaer-and-pas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
}
.card-footer-user {
  margin-left: -38px;
  margin-right: -38px;
  background: #fff;
  padding-top: 20px;
  border-radius: 0px 0px 10px 10px!important;
}


.card-footer.card-footer-user ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-footer.card-footer-user ul li {
  list-style: none;
  font-size: 14px;
  text-align: center;
}


.card-footer.card-footer-user ul li h3 {
  color: #F05A28;
  font-weight: 700;
  font-size: 20px;
  margin-top: 6px;
}



.card-footer.card-footer-user ul li h4{
  color: #A1A1BC;
  font-weight: 700;
  font-size: 20px;
  margin-top: 6px;
}

.table-bayer-header h3 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px solid #EBF2F7;
  padding-bottom: 18px;
  margin-bottom: -2px;
}

.table-bayer-body {
  padding-bottom: 30px;
}

.text-orang{
  color: #F05A28;
}


.right-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.right-box-header-left h3 {
  font-size: 18px;
  color: #212B36;
}

.right-box-header-right .dropdown button {
  border: 1px solid #EBF2F7;
}

.buyer-notifications ul {
  margin: 0px;
  padding: 0px;
}

.buyer-notifications ul li {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
}
.buyer-notifications ul li:hover{
  background: #F8F9FA;

}

.buyer-notifications ul {
  height: 293px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.buyer-notifications ul::-webkit-scrollbar {
  width: 5px;
}

.buyer-notifications ul::-webkit-scrollbar-track {

  border-radius: 10px;
}

.buyer-notifications ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D7D7D7;

}



.notifications-text-header {
  display: flex;

  justify-content: space-between;
}

.notifications-text-header-left a {
  color: #F05A28;
  font-size: 14px;
  font-weight: 700;
}

.notifications-text-header-right p {
  color: #77839F;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.buyer-notifications {
  margin-left: -22px;
  margin-right: -22px;

}

.notifications-icon {
  background: #FDEEE9;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 30px;
  position: relative;
}
.notifications-text {
  width: 90%;
}

.notifications-icon i {
  font-size: 20px;
}
.notifications-icon span {
  background: #F05A28;
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 100%;
  margin-top: -6px;
  margin-left: -6px;
}

.buyer-notifications .active {
  background: #F8F9FA;

}

.right-box-header-right .dropdown .dropdown-menu.show {
  left: -49px!Important
}


.recent-list-card-list ul li {
  display: flex;
  border-bottom: 1px solid #F3F3F3;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px ;

}

.recent-list-card-list-left p {
  color: #42425B;
  font-size: 12px;
  margin-bottom: 0px;
}
.recent-list-card-list {
  margin-left: -22px;
  margin-right: -22px;
  padding-bottom: 13px;

}

.recent-list-card-list-left {
  margin-right: 20px;
}
.recent-list-card-list-right p {
  color: #42425B;
  font-size: 12px;
  margin-bottom: 0px;
}

.recent-list-card-list-right p a {
  color: #42425B;
  margin-left: 7px;
  margin-right: 7px;
}


.recent-list-card-list ul {
  overflow-y: scroll;
  height: 247px;
  scrollbar-width: thin;
}

.recent-list-card-list ul::-webkit-scrollbar {
  width: 5px;
}

.recent-list-card-list ul::-webkit-scrollbar-track {

  border-radius: 10px;
}

.recent-list-card-list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D7D7D7;

}


.transaction-body ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-bottom: 1px solid #F3F3F3;
}

.transaction-body ul li p {
  margin-bottom: 0px;
  width: 33.33%;
  text-align: center;
  font-size: 12px;
}

.transaction-body{

  margin-left: -22px;
  margin-right: -22px;
  padding-bottom: 13px;
}

.transaction-body ul {
  height: 247px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.transaction-body ul::-webkit-scrollbar {
  width: 5px;
}

.transaction-body ul::-webkit-scrollbar-track {

  border-radius: 10px;
}

.transaction-body ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D7D7D7;

}

td.text-right_er a {
  padding-left: 5px;
  border-right: 1px solid #212B36;
  padding-right: 5px;
}

td.text-right_er a:last-child {
  border-right: 0px;
}

.table-bayer-body th {
  text-align: center;
}

.table-bayer-body td {
  text-align: center;
}

ul.pagination .active a {
  background: #F05A28!important;
  border-color: #F05A28!important;
  border-radius: 7px;
}

.pagination li a {
  border: 0px!important;
  border-radius: 7px!important;
  margin-left: 6px!important;
  margin-right: 5px!important;
  color: #000;
  font-size: 18px!important;
}
.pagination li a:hover{
  background: #F05A28!important;
  color:#fff

}



@media (max-width: 768px) {
  .notifications-icon {

    height: 40px;
    width: 40px;

  }

}
