.seller-panel h3 {
  text-align: left;
  color: #F05A28;
  font-size: 16px;
}

.seller-panel {
  /* border: 1px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
}

.seller-panel-user ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.seller-panel-user {
  /* border: 1px solid; */
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .seller-panel-user {
    padding-top: 0;
  }
}

.seller-panel-user ul li a {
  color: #212B36;
  font-size: 14px;
  margin-right: 26px;
  font-weight: 600;
  text-decoration: none;
}

.seller-panel-user ul li a img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.seller-panel-left-sidebar {
  width: 100px;
}


.seller-panel-left-sidebar ul li {
  list-style: none;
  background: #FFFFFF;
  border-bottom: 2px solid #EFF1F4;
}


.seller-panel-left-sidebar ul li {

  display: flex;
  align-items: center;
  justify-content: center;
}

.seller-panel-left-sidebar ul li a i {
  font-size: 24px;
  display: block;
  margin-bottom: 6px;

}

.seller-panel-left-sidebar ul li a {
  text-align: center;
  color: #77839F;
  font-size: 14px;
  text-decoration: none;
  height: 85px;
  padding-top: 17px;
  width: 100%;
  border-left: 2px solid transparent;
}

.seller-panel-left-sidebar .nuxt-link-exact-active, .seller-panel-left-sidebar .nuxt-link-active {
  background: #EFF1F4 0 0 no-repeat padding-box;
  border-left: 2px solid #F05A28;

}

.seller-panel-container {
  display: flex;

}

.seller-panel-body {

  width: 90%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .seller-panel-body{
    margin-left: 0;
  }
}

.seller-panel-left-sidebar .nav {
  display: block !important;
}

.seller-panel-card {

  display: flex;
}


.seller-panel-line {
  border: 1px solid #dee2e6;
  width: 33%;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}


.seller-panel-left {
  width: 79px;
  background: #dee2e6 0 0 no-repeat padding-box;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-panel-left i {
  color: #F05A28;
  font-size: 28px;
}

.seller-panel-right h3 {
  color: #F05A28;
  margin-bottom: 0;
  font-size: 26px;
}

.seller-panel-right p {
  color: #77839F;
}

.seller-panel-right {
  padding-left: 17px;

  height: 81px;
  padding-top: 13px;
  align-items: center;
}

.seller-panel-header-enquires {
  background: transparent linear-gradient(90deg, #FEB683 0, #FF8993 100%) 0 0 no-repeat padding-box;
  height: 104px;
  padding-left: 30px;
  padding-top: 26px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;

}

.seller-panel-header-buy {
  background: transparent linear-gradient(90deg, #C694F9 0, #AB64F4 100%) 0 0 no-repeat padding-box !important;

}

.seller-panel-header-view {
  background: transparent linear-gradient(90deg, #6AA5E3 0, #6866E9 100%) 0 0 no-repeat padding-box !important;
}

.seller-panel-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
}

.seller-panel-product-card {
  width: 32%;
  border: 1px solid #dee2e6;
}

.seller-panel-name-line-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding: 12px 14px 1px 15px;

}

.seller-panel-header-enquires h1 {
  color: #FFFFFF;
  font-size: 17px;
}

.seller-panel-header-enquires h1::before {
  content: "";
  border: 2px solid #fff;
  margin-top: 25px;
  position: absolute;
  width: 50px;
  /* height: 10px; */
  border-radius: 5px;

}

.seller-panel-header-enquires h3 {
  font-size: 42px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
}

.seller-panel-name-line-list-left h4 {
  color: #212B36;
  margin-bottom: 1px;
  font-size: 16px;
}

.seller-panel-name-line-list-left span {
  font-size: 12px;
  color: #77839F;
}

.seller-panel-name-line-list-left p {
  color: #212B36;
  font-size: 12px;
}

.seller-panel-name-line-list-right {
  display: flex;
  align-items: center;
}

.seller-panel-name-line-list-right p {
  color: #77839F;
  font-size: 12px;
}

.seller-panel-name-line-footer {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.seller-panel-name-line-footer a {
  color: #F05A28;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.alert-danger-custom {
  padding-top: 20px;
  padding-bottom: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #77839F;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .alert-danger-custom {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.alert-danger-custom i {
  font-size: 36px;
  margin-right: 15px;
  color: #F05A28;
}

.alert-danger-custom a {
  color: #F05A28 !important;
  margin-left: 6px;
}


/* Messanger */

#frame {
  width: 100%;
  min-width: 360px;
  max-width: 100%;
  height: 100vh;
  min-height: 300px;
  max-height: 869px;
  background: #fff;
}

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}

#frame #side-panel {
  float: left;
  min-width: 442px;
  max-width: 442px;
  width: 40%;
  height: 100%;
  background: #fff;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #side-panel {
    width: 58px;
    min-width: 58px;
  }
}

#frame #side-panel #profile {
  width: 90%;
  margin: 14px auto 0;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}

#frame #side-panel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}

#frame #side-panel #profile.expanded .wrap p {
  margin-top: 20px;
}

#frame #side-panel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#frame #side-panel #profile .wrap {

  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap {
    height: 55px;
  }
}

#frame #side-panel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}

#frame #side-panel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}

#frame #side-panel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}

#frame #side-panel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}

#frame #side-panel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}

#frame #side-panel #profile .wrap p {
  float: left;
  margin-left: 15px;
  color: #212B36;
  font-weight: 700;
  margin-top: -5px;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap p {
    display: none;
  }
}

#frame #side-panel #profile .wrap i.expand-button {
  float: right;
  margin-top: 3px;
  font-size: 1.3em;
  cursor: pointer;
  color: #F05A28;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap i.expand-button {
    display: none;
  }
}

#frame #side-panel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}

#frame #side-panel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}

#frame #side-panel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}

#frame #side-panel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}

#frame #side-panel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}

#frame #side-panel #profile .wrap #status-options ul li:hover {
  background: #496886;
}

#frame #side-panel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}

#frame #side-panel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}

#frame #side-panel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #profile .wrap #status-options ul li p {
    display: none;
  }
}

#frame #side-panel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}

#frame #side-panel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}

#frame #side-panel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}

#frame #side-panel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}

#frame #side-panel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}

#frame #side-panel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}

#frame #side-panel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}

#frame #side-panel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}

#frame #side-panel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}

#frame #side-panel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

#frame #side-panel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}

#frame #side-panel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}

.envelope-left {
  float: left;
  color: #212B36;
  font-size: 23px;
}


#frame #side-panel #search {

  border-bottom: 2px solid #E4EBF1;
  font-weight: 300;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #search {
    display: none;
  }
}

#frame #side-panel #search label {
  position: absolute;
  margin: 0 0 0 20px;
}

#frame #side-panel #search input {

  padding: 0 0 10px 46px;
  width: calc(100% - 0px);
  border: none;

  color: #77839F;
}

#frame #side-panel #search input:focus {
  outline: none;
  background: #FEEFEF;
}

div#search i {
  color: #C1C7D0;
  font-size: 14px;
}

#frame #side-panel #search input::-webkit-input-placeholder {
  color: #C1C7D0;
}

#frame #side-panel #search input::-moz-placeholder {
  color: #C1C7D0;
}

#frame #side-panel #search input:-ms-input-placeholder {
  color: #C1C7D0;
}

#frame #side-panel #search input:-moz-placeholder {
  color: #C1C7D0;
}

#frame #side-panel #contacts {
  height: calc(100% - 81px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #frame #side-panel #contacts::-webkit-scrollbar {
    display: none;
  }
}

#frame #side-panel #contacts.expanded {
  height: calc(100% - 334px);
}

#frame #side-panel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #D7D7D7;
}

#frame #side-panel #contacts::-webkit-scrollbar-thumb {
  background-color: #D7D7D7;
}

#frame #side-panel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
  border-bottom: 2px solid #E4EBF1;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}

#frame #side-panel #contacts ul li.contact:hover {
  background: #FEEFEF;
}

#frame #side-panel #contacts ul li.contact.active {
  background: #FEEFEF;
  border-right: 5px solid #FEEFEF;
}

#frame #side-panel #contacts ul li.contact.active span.contact-status {

}

#frame #side-panel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #contacts ul li.contact .wrap {
    width: 100%;
  }
}

#frame #side-panel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: #95a5a6;
}

#frame #side-panel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}

#frame #side-panel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}

#frame #side-panel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}

#frame #side-panel #contacts ul li.contact .wrap img {
  width: 59px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #contacts ul li.contact .wrap img {
    margin-right: 0;
  }
}

#frame #side-panel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
  width: 278px;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}

#frame #side-panel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
  color: #212B36;
  font-size: 16px;
  margin-bottom: 0;
}

#frame #side-panel #contacts ul li.contact .wrap .meta .conpany-name {
  color: #77839F;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  margin-bottom: 0;
}

#frame #side-panel #contacts ul li.contact .wrap .meta .preview {
  /* margin: 5px 0 0 0; */
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  color: #3B4248;
  margin-bottom: 0;
}

#frame #side-panel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

#frame #side-panel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#frame #side-panel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}

#frame #side-panel #bottom-bar button:focus {
  outline: none;
}

#frame #side-panel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}

#frame #side-panel #bottom-bar button:hover {
  background: #435f7a;
}

#frame #side-panel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media screen and (max-width: 735px) {
  #frame #side-panel #bottom-bar button i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #frame #side-panel #bottom-bar button span {
    display: none;
  }
}

#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}

@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 446px);
  }
}

#frame .content .contact-profile {
  width: 100%;
  height: 85px;
  /* line-height: 60px; */
  background: #f5f5f5;
  border-bottom: 2px solid #E4EBF1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#frame .content .contact-profile img {
  width: 68px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-profile-user {
  width: 48%;
}

.contact-profile-user-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

#frame .content .contact-profile p {
  float: left;
  color: #212B36;
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  margin-bottom: 2px;
}

#frame .content .contact-profile span {
  color: #77839F;
  /* display: block; */
  font-size: 14px;
  text-align: left;
}

#frame .content .contact-profile .social-media {
  float: right;
}

#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
  margin-right: 20px;

  color: #77839F
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}

#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 28px;
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}

#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 76px;
}

#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {
  background: #EFF1F4;
  color: #77839F;
  font-size: 14px;
}

#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
  background: #FEEFEF;
  float: right;
  font-size: 14px;
  color: #77839F;
}

#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 205px;
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
    min-width: 300px;
  }
}

#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

#frame .content .message-input .wrap {
  position: relative;
  border-top: 2px solid #E4EBF1;
  background: #FFFFFF;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frame .content .message-input .wrap input {
  /* font-family: "proxima-nova", "Source Sans Pro", sans-serif; */
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 20px;
  color: #77839F;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

#frame .content .message-input .wrap input:focus {
  outline: none;
}

#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}

#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #F05A28;
  color: #f5f5f5;
  border-radius: 8px;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}

#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
  outline: none;
}

.time_date {
  color: #77839F;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.replies .time_date {
  width: calc(100% - 164px);
  text-align: right;
}

.product-and-time {
  float: right;
  position: relative;
  margin-top: -60px;
  color: #3B4248;
  text-align: right;
}

.product-and-time p {
  color: #3B4248;
  font-size: 12px;
  margin-bottom: 4px;
}

.product-and-time img {
  float: unset !important;
  width: 65px !important;
  margin-right: 0 !important;
}


.drop-menu {
  display: none;
  position: absolute;
}

.seller-panel-user li:hover .drop-menu {
  display: block;
}

.drop-menu {
  background: #fff;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  width: 307px;
  margin-left: -136px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;

}

.drop-menu ul {
  display: block;
}

.drop-menu-header {
  border-bottom: 1px solid #E4EBF1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 10px;
  padding-right: 13px;

}

.drop-menu-header p {
  color: #F05A28;
  font-size: 14px;
  font-weight: 600;
}

.drop-menu-header a {
  color: #1492E6 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-right: 0 !important;
}

.drop-menu ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #3B4248 !important;
  font-size: 14px !important;
  padding: 9px 10px;
}

.drop-menu ul li a:hover {

  background: #F9FAFB !important;


}

.drop-menu-3 {
  display: none;
}

.drop-menu ul li:hover .drop-menu-3 {
  display: block;
}

.drop-menu:after {

  position: absolute;
  content: "";
  left: calc(85% - 17px);
  top: -12px;
  width: 26px;
  height: 26px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
  box-shadow: 0 3px -1px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;

}

/* Manage Profile */
.progress-line h3 {
  color: #212B36;
  font-size: 18px;
  margin-right: 24px;
  margin-top: -8px;

}

.progress-line .progress-bar {
  background-color: #F05A28;

}

.progress-line {
  display: inline-block;

  width: 15%;
}

.progress-line-left {
  float: left;
}

.manage-profile-card-header p {
  color: #77839F;
  font-size: 12px;

}

.manage-profile-card-body .nav-link {
  color: #212B36;
  border: 0 !important;
  border-radius: 0 !important;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600 !important;
}

.manage-profile-card-body .nav-tabs {
  border-bottom: 0 !important;
  background: #fff;

}

.manage-profile-card-body .nav-link.nuxt-link-exact-active {
  color: #F05A28;
  border-bottom: 2px solid #F05A28 !important;
}

.manage-profile-card-body .nav-item {
  margin-right: 4%;
}


.personal-Info-header {
  background: #E1E8EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.personal-Info-header-left p {
  font-size: 16px;
  color: #212B36;
  margin-bottom: 0;
}

.personal-Info-header-right a {
  color: #F05A28;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}

.personal-Info-header-right button {
  background: #FAF3F1;
  border: 1px solid #F05A28;
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 16px;
  color: #F05A28;
  font-weight: 700;
}

.personal-Info-left-bar img {
  width: 150px;
  height: 150px;
  border-radius: 500%;
}


.personal-Info-body {
  background: #fff;
  border-left: 2px solid #E1E8EE;
  border-right: 2px solid #E1E8EE;
  border-bottom: 2px solid #E1E8EE;
  display: flex;
}

.personal-Info-left-bar {
  border-right: 2px solid #E4EBF1;
  width: 294px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.personal-Info-left-bar ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212B36;
  font-size: 16px;
}

.personal-Info-left-bar ul {
  padding-left: 20px;
  padding-right: 20px;
}

.personal-Info-left-bar ul li span {
  color: #97A3B4;
  font-size: 14px;
}


.personal-Info-left-bar h4 {
  color: #F05A28;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.personal-Info-right-bar {
  width: 82%;
  padding: 30px 25px;
}

.personal-Info-input {
  margin-bottom: 30px;
}

.personal-Info-input input {
  background-color: #FBFCFC;
  border: 1px solid #E1E8EE;
}

.personal-Info-input select {
  background-color: #FBFCFC;
}

.personal-Info-input .custom-file label {
  background-color: #FBFCFC;
}

.personal-Info-input label {
  font-size: 14px;
}

.seller-panel-left-sidebar .active {
  background: #EFF1F4 0% 0% no-repeat padding-box;
  border-left: 2px solid #F05A28;
}
