* {
  margin: 0;
  padding: 0;
}

body {
  background: #FBFCFC;
}

.cursor-pointer {
  cursor: pointer;
}

a.nav-link.disabled {
  color: #6c757d;
}

/*Theme fix color going here */
.text_color {
  color: #F05A28 !important;
}

.btn_danger {
  color: #F05A28 !important;
}

.bg_danger {
  background: #F05A28 !important;
}

.btn_bg_danger {
  background: #F05A28 !important;
}

.left_side_active {
  background: black !important;
}

/*Theme fix color end here */

/*Header CSS Going Here*/
.search_box {
  background: #F5F5F5 !important;
}

.border_left {
  border: none;
  background: #F5F5F5 !important;

}

.btn_bg_danger:hover {
  background: #ed4f1a !important;
}

.side_see_all {
  font-size: 14px;

}

.input-group input[type="text"] {
  border: none;
  background: #F5F5F5 !important;
}

.break_search {
  background: #F5F5F5 !important;
  color: #F05A28 !important;
}

.login_register {
  float: right !important;
}

.login_register a:hover {
  color: #c64519 !important;
}

/*Header CSS End Here*/

/*Hero CSS Start Here*/
.side_margin {
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  transform: translate3d(335px, -52px, 0px) !important;
  min-width: 55rem !important;
  padding: 20px;
}

.list_style {
  list-style: none;
}

.list_style li a {
  text-decoration: none;
  color: black;
}

.nav li:hover {
  color: #c64519 !important;
}

.nav li a:hover {
  color: #c64519 !important;
}

.card_gradient {
  background: rgb(52, 194, 230);
  background: linear-gradient(0deg, rgba(52, 194, 230, 1) 0%, rgba(140, 52, 230, 1) 36%, rgba(52, 194, 230, 1) 100%);
}

.card_body {
  display: flex;
  justify-content: space-between;
}

.card_body .right_left_box {
  width: 35%;
}

.card_body .right_right_box {
  width: 65%;
}

.card-body {
  margin: 0 !important;
  padding: 0 !important;

}

.shop_btn_margin {
  /*    margin-left: 5.5rem!important;*/
}

.mic_margin {
  margin-left: 4rem !important;
}

/*Hero CSS End Here*/

/*product CSS going Here*/
#expo_count_down {
  margin: auto;
}

#expo_count_down tr td div {
  width: auto;
  height: auto;
  padding: 15px 20px;
  background: gray;
  float: left;
  margin: 0 10px;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;

}

.expo_left {
  width: 20%;
}

.expo_middle {
  width: 30%;
}

.expo_right {
  width: 50%;
}

.hr_line {
  border: 8px solid gray;
  border-radius: 10px;
}

.expo {
  background: #F05A28;
  height: 400px;
}

.product_text {
  justify-content: space-between;
}

.category_font_size {
  color: gainsboro;
  font-size: 12px;
}

.event_text {
  color: gray;
}

.view_more_btn {
  border-radius: 20px !important;
  font-size: 20px;

}

.item {
  background: white;
  padding: 7px;
}

.item p {
  font-size: 12px;
}

.item_btn {
  background: white;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 40px;
}

/*product CSS End Here*/

/*Ecommerce Buyers CSS going Here*/
.ecommerce {
  height: 100%;
  background-image: url(../img/ecommere_client.jpg);
  background-size: cover;
  padding: 10px;

}

.ecommerce_product_text {

}

.text_discount {
  border-radius: 18px;
}

/*Ecommerce Buyers CSS End Here*/


/*Treanding CSS Going Here*/
.tren_card ul li {
  list-style: none;
}

.tren_card ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*Treanding CSS End Here*/

/*Related product CSS going Here*/
.related_product_sec {
  background: white;
}

/*Related product CSS End Here*/

/*We Connect CSS going Here*/
.custom_padding {

}

.we_connect_social_item p {
  font-size: 12px;
  margin: 0;

}

.social_item {
  display: inline-block;
  padding: 7px;
  border-radius: 100%;
}

#title {
  height: 55px;
}

#title, #describe_something {
  background: #F5F5F5;
  border: none;
}

.dropdown_edit {
  width: 100%;
}

.dropdown_edit .dropdown-toggle::after {
  display: inline-block;
  margin-left: 10rem !important;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#title2 {
  background: #F5F5F5;
  border: none;
  margin-top: 0;
  width: 100%;
}

.request_btn_bg_color {
  border-radius: 20px !important;
  color: #F05A28 !important;
  border: 2px solid #F05A28 !important;
}

.request_btn_bg_color:hover {
  color: white !important;
  background: #F05A28 !important;
}

.we_connect_form {
}

/*We Connect CSS End Here*/

/*footer section CSS going Here*/
.footer_section {
}

.about_company ul {
  list-style: none;
}

.about_company ul li {
  margin-top: 5px;
}

.about_company ul li a {
  text-decoration: none;
  color: black;
}

.help_center ul {
  list-style: none;
}

.help_center ul li {
  margin-top: 5px;
}

.help_center ul li a {
  text-decoration: none;
  color: black;
}

.supply_tool ul {
  list-style: none;
}

.supply_tool ul li {
  margin-top: 5px;
}

.supply_tool ul li a {
  text-decoration: none;
  color: black;
}

.buyer_tool ul {
  list-style: none;
}

.buyer_tool ul li {
  margin-top: 5px;
}

.buyer_tool ul li a {
  text-decoration: none;
  color: black;
}

.event ul {
  list-style: none;
}

.event ul li {
  margin-top: 5px;
}

.event ul li a {
  text-decoration: none;
  color: black;
}

.scroll_top ul {
  list-style: none;
}

.scroll_top ul li {
  margin-top: 5px;
}

.scroll_top ul li a {
  text-decoration: none;
  color: black;
}

/*Happy Client going here*/
.happy_customer_sec {
  background: white;
}

.jumbotron_edit {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.jumbotron_edit .video {
  border-radius: 10px;
}

.parent-box {
  display: flex;
}

.box {
  margin: 10px;

}

button.carousel-control-prev, button.carousel-control-next {
  border: 0;
  background: transparent;
}

.slider_hero .glide__bullets {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slider_hero .glide__bullets .glide__bullet {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.slider_hero .glide__bullets .glide__bullet:focus {
  outline: none;
}

.slider_hero .glide__bullets .glide__bullet .glide__bullet--active {
  opacity: 1;
  border: none;
}

.slider_hero .glide__bullet.glide__bullet--active {
  background-color: #F52929 !important;
}

.carousel_video {
  padding: 8px;

}

.carousel_video_item {
  border-radius: 10px;
}

/*Happy Client end here*/


/*scroll top start*/
#scrollTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollTop:hover {
  background-color: #fff; /* Add a dark-grey background on hover */
}

/*scroll top end*/

/*small footer going here*/
.small_footer {
  background: #F0F1F3;
}

.follow_line {
  border-right: 1.5px solid gray !important;
  font-size: 16px !important;
}

.facebook a {
  color: white;
  text-decoration: none;
}

.facebook i {
  font-size: 30px;
  padding: 1rem;
  background: #3D5A96;
  border-radius: 100%;
}

.twitter a {
  color: white;
  text-decoration: none;
}

.twitter i {
  font-size: 30px;
  padding: 1rem;
  background: #2AA3EF;
  border-radius: 100%;
}

.youtube a {
  color: white;
  text-decoration: none;
}

.youtube i {
  font-size: 30px;
  padding: 1rem;
  background: #F52929;
  border-radius: 100%;
}

.google_plus a {
  color: white;
  text-decoration: none;
}

.google_plus i {
  font-size: 30px;
  padding: 1rem;
  background: #DA483F;
  border-radius: 100%;
}

.linkedin a {
  color: white;
  text-decoration: none;
}

.linkedin i {
  font-size: 30px;
  padding: 1rem;
  background: #007AB7;
  border-radius: 100%;
}

.terms {
  border-right: 1.5px solid gray;
}

.terms a {
  font-size: .8rem !important;
}

.privacy {
  border-right: 1.5px solid gray;
}

.privacy a {
  font-size: .8rem !important;
}

.link_us a {
  font-size: .8rem !important;
}

/*Responsive going here*/


@media screen and (max-width: 320px) {
  .side_margin {
    transform: translate3d(-2px, 1px, 0px) !important;
    min-width: 11rem !important;
    padding: 20px;
  }

  .dropdown_edit .dropdown-toggle::after {
    margin-left: 6rem !important;
  }

  .we_connect_social_items {
    margin-right: 0 !important;
  }

  .we_connect_social {
    border-right: none;
    text-align: center;
  }

  .header_text_res {
    font-size: 20px !important;
  }

  .search_box {
    margin-top: 0 !important;
  }

  .login_register {
    margin-top: 0 !important;
  }

  .footer_socials {
    text-align: center !important;
  }

  .follow_line {
    text-align: center !important;
    border-right: none !important;
  }

  .linkedin i {
    font-size: 10px;
    padding: .5rem;
  }

  .google_plus i {
    font-size: 15px;
    padding: .5rem;
  }

  .youtube i {
    font-size: 15px;
    padding: .5rem;
  }

  .twitter i {
    font-size: 15px;
    padding: .5rem;
  }

  .facebook i {
    font-size: 15px;
    padding: .5rem;
  }

  .facebook {
    margin-left: 4px !important;
  }

  .terms a {
    font-size: .7rem !important;
  }

  .privacy a {
    font-size: .7rem !important;
  }

  .link_us a {
    font-size: .7rem !important;
  }
}

@media screen and (min-width: 360px) {
  .follow_line {
    text-align: center !important;
    border: none;
  }

}

@media screen and (max-width: 360px ) {
  .side_margin {
    transform: translate3d(-2px, 1px, 0px) !important;
    min-width: 11rem !important;
    padding: 20px;
  }

  .dropdown_edit .dropdown-toggle::after {
    margin-left: 10rem !important;
  }

  .search_box {
    margin-top: 0 !important;
  }

  .login_register {
    margin-top: 0 !important;
  }

  .follow_line {
    padding: 0 !important;
    border: none;
  }

  .terms {
    padding: 0 !important;
  }

  .privacy {
    padding: 0 !important;
  }

  .link_us {
    padding: 0 !important;
  }

  .terms a {
    font-size: .7rem !important;
  }

  .privacy a {
    font-size: .7rem !important;
  }

  .link_us a {
    font-size: .7rem !important;
  }
}

@media screen and (min-width: 375px) {

  .terms {
    padding: 0 !important;
  }

  .privacy {
    padding: 0 !important;
  }

  .link_us {
    padding: 0 !important;
  }


}

@media screen and (max-width: 375px) {
  .side_margin {
    transform: translate3d(-2px, 1px, 0px) !important;
    min-width: 11rem !important;
    padding: 20px;
  }

  .follow_line {
    border-right: none !important;
  }
}


@media screen and (max-width: 768px) {
  .side_margin {
    transform: translate3d(240px, 1px, 0px) !important;
    min-width: 30rem !important;
    padding: 20px;
  }

  .dropdown_edit .dropdown-toggle::after {
    margin-left: 9rem !important;
  }

  .terms {
    border-right: none !important;
  }

  .privacy {
    border-right: none !important;
  }

  .link_us {
    border-right: none !important;
  }

  .terms a {
    font-size: .5rem !important;
  }

  .privacy a {
    font-size: .5rem !important;
  }

  .link_us a {
    font-size: .5rem !important;
  }

}


@media screen and (max-width: 960px) {
  .search_box {
    margin-top: 0 !important;
  }

  .login_register {
    margin-top: 0 !important;
  }

  .follow_line {
    text-align: center !important;
  }

  .footer_socials {
    text-align: center !important;
  }

  .linkedin i {
    font-size: 15px;
    padding: .5rem;
  }

  .google_plus i {
    font-size: 15px;
    padding: .5rem;
  }

  .youtube i {
    font-size: 15px;
    padding: .5rem;
  }

  .twitter i {
    font-size: 15px;
    padding: .5rem;
  }

  .facebook i {
    font-size: 15px;
    padding: .5rem;
  }

  .facebook {
    margin-left: 4px !important;
  }
}

/*All Category css start*/

.all-category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.category-card {
  border: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 16.66%;
}

.category-card.active .category-images i {
  color: #F05A28
}

.category-card.active {
  border: 1px solid #F05A28;
}


.category-images {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  opacity: 1;
}

.category-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-images i {
  font-size: 27px;
  color: #888888;
}


.category-text p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding-left: 14px;

  margin-bottom: 0px;
}

.category-card:hover {
  cursor: pointer;
  border: 1px solid #F05A28;
}

.category-card:hover .category-images i {
  color: #F05A28
}

.category-card:hover .category-text p {
  color: #F05A28
}

.category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-title-card {
  width: 50%;

  font-size: 27px;
  color: #120909;
  font-family: Roboto;
  font-weight: 700;
}

.category-title-card-right {
  display: flex;
  /* align-items: flex-end; */
  /* align-content: flex-end; */

  justify-content: center
}

.category-title-card-left {
  display: flex;
}

.category-title-card-left .category-images {
  margin-right: 10px;
}

.category-list li a {
  color: #212529;
  font-size: 14px;
}

.category-list ul {

}

.category-list li {
  list-style: none;
}

.category-list h3 {
  font-size: 16px;
  color: #1592E6;
}

.category-list span {
  color: #71777E;
}

.category-list-padding {
  padding-left: 70px;
  padding-right: 30px;
}

.right-card {
  border: 1px solid #F8F8F8;
  box-shadow: 0px 0px 1px #00000029;
  padding: 20px;
}

.right-card p {
  font-size: 16px;
  color: #71777E;
  letter-spacing: 0px;
  text-align: left;
}

ul.tizaara-services li {
  list-style: none;
  line-height: 1.7;
}

ul.tizaara-services li a {
  color: #1592E6;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;

}

.security-Center {
  padding-left: 19px;
}

.security-Center li {

}

.security-Center a {
  color: #212B36;
  font-size: 16px;
  font-weight: 500;
}

.buying-tools li a {
  font-size: 16px;
  color: #1592E6;
  font-weight: 900;
}

.buying-tools li span {

}

.buying-tools li p {
  color: #71777E;
  letter-spacing: 0.14px;
  margin-bottom: 0px;

}

.buying-tools li i {
  color: #1492E6;
  padding-top: 5px;
  margin-right: 9px;
}

.buying-tools li {
  list-style: none;
  display: flex;

}

@media screen and (max-width: 960px) {
  .category-card {
    width: 100%;
  }

  .category-title-card {
    width: 100%;
    font-size: 22px;

    line-height: 28px;
  }

}

.category-card.active {
  border: 1px solid #F05A28;
}

/*All category css end*/


.top-nav ul li a {
  color: #71777E;
  font-size: 14px;
}

/* product CSS */

.top-nav ul {

}


.top-nav ul li a {
  color: #71777E;
  font-size: 14px;
}

.top-nav ul li {
  display: flex;
  float: left;
  padding-right: 10px;
}

.top-nav-navbar {
  display: flex;
  margin-bottom: 15px;
}

.top-heading h3 {
  color: #212B36;
  font-size: 22px;
}

.top-heading h3 span {
  color: #71777E;
  font-size: 16px;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.location-heading {
  background: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;


}

.top-heading {
  margin-bottom: 10px;
}

.location li {
  float: left;
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.location li a {
  color: #71777E;
  font-size: 18px;
  font-weight: 500;
  padding-right: 10px;
  text-decoration: none;
}

.location li a:hover {
  color: #F05A28;
}

.location-heading h3 {
  color: #212B36;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}

.col-auto.text-body-icon i {
  color: #71777E !important;
  padding-left: 7px;
  padding-top: 7px;
}

.location .active {
  border-bottom: 1px solid #F05A28;

}

.location .active a {

  color: #F05A28;
}

.location-card {

  display: flex;
  align-items: center;
}

.location {

  margin-bottom: 0px;
}

.border-left {
  border-left: 2px solid #71777E !important;
}

.text-center {
  justify-content: center;
}

.next-color {
  color: #000000
}

.slider-bg {
  background: #EFF0F4 0% 0% no-repeat padding-box;
  border: 1px solid #70707012;
  opacity: 1;
  padding: 7px;
}

.product-card {
  margin-top: 20px;
}

.product-details h4 {
  color: #212B36;
  font-size: 16px;
  margin-bottom: 0px;
}

.price li {
  list-style: none;
  color: #212B36;
  font-weight: 800;
  margin-right: 34px;
}

.price li span {
  color: #71777E;
  font-size: 14px;
  font-weight: 400;

}

.price {
  display: flex;
  margin-top: 10px;
}


.list {
  margin-top: 20px;
}

.product-list {
  background: #fff;
  padding: 10px;
}

.list li {
  list-style: none;
  color: #71777E;
  font-size: 14px;
  line-height: 2;
}

.list li b {
  color: #212B36;
  font-weight: 700;
}

.country li img {
  width: 31px;
  height: 21px;
  border: 2px solid #F4F4F4;
}

.country li {
  list-style: none;
  display: inline-block;
  line-height: 0px;
  overflow: hidden;
  margin-top: 10px;
  color: #71777E;
  font-size: 14px;
  font-weight: 400;
}

.country li span {
  background: #F4F4F4;
  font-weight: 700;
  height: 12px;
  display: inline-table;
  padding-right: 2px;
}

.bn {
  padding-left: 1px;
}

.verified ul {
  display: flex;
}

.verified ul li {
  list-style: none;
}

.youtube {
  width: 21px;
  height: 15px;
}

.verified-Seller {
  width: 21px;
  height: 15px;
}

.verified ul li {
  color: #71777E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.verified li img {
  margin-right: 7px;
}

.country ul {
  margin-bottom: 0px;
  margin-bottom: 0px;
}

.verified {
  margin-top: 15px;

}

.response-rate ul {
  display: flex;
}

.response-rate ul li {
  list-style: none;
}

.response-rate ul li span {
  background: #FFF0E6;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F05A28;
  font-size: 16px;
  font-weight: 700;
  padding-left: 7px;
  padding-right: 2px;
}

.response-rate ul li span img {
  margin-left: 7px;
  margin-right: 5px;

}

.replay {
  padding-left: 15px;
  color: #71777E;
  font-size: 14px;
}

.btn-orang {
  background: #F05A28;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-line-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 46px;
  font-size: 16px;
  padding-right: 44px;
}

.btn-orang i {
  font-size: 22px;
  margin-right: 10px;
}

.product-footer {
  margin-top: 30px;
}

.product-footer {

  color: #71777E;
}

.heart {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 25px;
  height: 25px;
  border: 1px solid #CACACA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: right; */
  position: absolute;
  right: 26px;
  z-index: 1;
}

.slider-footer {
  background: #707070;
  width: 45px;
  position: absolute;
  right: 16px;
  margin-top: -18px;
  color: #FFFFFF;
  text-align: center;
}

.card-body ul li a {
  color: #212B36;
  font-size: 14px;
  text-decoration: none;
}

.card-body ul {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.card-body ul li {
  list-style: none;
}

.card-header-custom {
  padding: 0px;
}

.card-header-custom button {
  color: #120909;
  font-size: 18px;
  text-decoration: none !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px;
}

.card-header-custom button:hover {
  background: #F05A28;
  color: #fff !important;
}

.price-left h3 {
  color: #212B36;
  font-size: 14px;
}

.price-left {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.product-list {

  border-bottom: 1px solid #F05A28;
}

input.form-control.fn-1 {
  background: #fff !important;
  border: 1px solid #C5C4C9;
  border-radius: 3px !important;
}

span.input-group-text.fn-3 {
  background: #fff;
  border: 0px;
}

.right-Shoes-card {
  box-shadow: 0px 2px 3px #00000026;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 30px;
  padding: 5px
}

.right-Shoes-card-images img {
  width: 100%;
}

.right-Shoes-card-images {
  background: #F5F5F5;

}

.right-Shoes-card-images span {
  color: #F05A28;
  font-weight: 700;
  padding-left: 10px;
}

.right-Shoes-card-images-box {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding-bottom: 8px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.right-footer p {
  margin-bottom: 0px;
  color: #212B36;
}

@media screen and (max-width: 768px) {

  .location li {
    float: unset;
  }

  .border-left {
    border-left: 0px !important;
  }

  .location {

    width: 100%;
  }

  .dropdown-menu {
    width: 300px;
  }


}

@media screen and (max-width: 900px) {
  .dropdown-menu {
    width: 300px;
    width: 300px !important;
    min-width: 300px !important;
  }
}

/* product css end */

.top-nav ul li {
  display: flex;
  float: left;
  padding-right: 10px;
}

.personal-Info-body-form-padding {

  padding: 30px;
}

.custom-control.custom-checkbox {
  border: 1px solid #E1E8EE;
  background: #FBFCFC;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  padding-left: 39px;

}

.custom-checkbox-button {
  margin-bottom: 12px;
}

.paddin-nr-20 {
  margin-bottom: 20px;
}

h4.from-center-headline {
  border-bottom: 2px solid #E1E8EE;
  padding-bottom: 17px;
  margin-bottom: 26px;
}

.name-color {
  color: #002257
}

.company-profile {
  text-align: left;
  padding-left: 20px;
}

p.verified-seller i {
  color: #6195E8;
}

h4.name-color {
  color: #002257;
}

.drag-and-drop-files-here {
  border: 1px solid #E1E8EE;
  border-radius: 4px;
  padding: 20px;
}

.drag-and-drop-files-here-bg {
  border: 2px dashed #C2CDDA;
  text-align: center;
  padding: 30px;
}

.drag-and-drop-files-here-bg p {
  color: #3B4248;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}


.btn-file {
  position: relative;
  overflow: hidden;
  background: #F05A28;
  border-color: #F05A28;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.drag-and-drop-files-here-images-list ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.drag-and-drop-files-here-images-list ul li {
  list-style: none;
  /* border: 1px solid; */
  width: 33%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}

.drag-and-drop-files-here-images-list ul li img {
  width: 80px;
  height: 80px;
}

.drag-and-drop-files-here-images-list {
  margin-top: 25px;
}

.drag-and-drop-files-here-images-list ul li i {
  color: #F05A28;
  font-size: 24px;
}

.brouser-1 {
  background: #F05A28;
  color: #fff;
  border: 1px solid #F05A28;
}

.custom-file-label-custom::after {
  content: unset !important;

}

label.custom-file-label.custom-file-label-custom {
  height: 38px;
}

.add-certificate {
  background: #EFF1F4;
  padding: 40px;
  /* margin-top: 20px; */
  max-width: 1274px;
  margin: 25px auto auto;
  border-radius: 10px;
}

.add-certificate h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.drag-and-drop-files-here.certificate-bg {
  background: #fff;
}

.submitted-certifications h3 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.submitted-certifications tr th {
  background: #EFF1F4;
}

.submitted-certifications tr th {
  background: #EFF1F4;
  font-size: 16px !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0;
}

.submitted-certifications tr {
  text-align: center;
}

.edit-delete a {
  color: #1492E6;
  font-weight: 600;
  margin-right: 13px;
  list-style: none;
  text-decoration: none;
}

.submitted-certifications {
  margin-bottom: 40px;
}

p.name b {
  background: #F05A28;
  font-weight: 300;
  display: inline-block;
  width: 33px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.personal-Info-body {

  margin-bottom: 3%;
}

.products-card {
  display: flex;
  justify-content: space-between;
}

.products-card-left {
  width: 280px;
  background: #EFF1F4;
  padding: 30px;
  height: 90vh;
}

.products-card-left h3 {
  font-size: 18px;
  color: #212B36;

}

.products-card-left h4 {
  color: #F05A28;
  font-size: 14px;
  margin-top: 20px;
}

.products-card-left p {
  color: #77839F;
  font-size: 14px;
  margin-top: 14px;
}

.divder {
  background: #fff;
  height: 3px;
  display: block;
  width: 100%;
}

.divder-spase {
  margin-top: 68px;
}

.divder-height {
  height: 30px
}


.my-Products h2 {
  font-size: 16px;
  color: #212B36;
  border-bottom: 2px solid #212B36;
  line-height: 2;
}

.my-Products ul li {
  list-style: none;
  color: #77839F;
  font-size: 12px;
  margin-top: 10px;
}

.my-Products ul {
  margin-top: 15px;
}

.products-card-right {
  width: 85%;
}

.products-card-menu ul li {
  list-style: none;
}

.products-card-menu ul {
  display: flex;
}

.products-card-menu ul li a {
  color: #fff;
  /* padding: 9px; */
  font-size: 12px;
  text-decoration: none;
  background: url(../img/slect_2.png) no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  width: 173px;
  height: 36px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-card-menu ul li .nuxt-link-exact-active {
  background: url(../img/select_1.png) no-repeat !important;
}

.nav-tabs-0 {
  border-bottom: 0 !important;
}

.products-card-menu ul li a:hover {
  color: #fff !important;
}

.select-body {
  background: #EFF1F4;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.form-group-search {
  position: relative;
}

.form-group-search input {
  height: 50px;
  border-radius: 50px;
  padding-left: 57px;
}

.form-group-search button {
  position: absolute;
  top: 1px;
  height: 48px;
  width: 50px;
  border: 0;
  background: #fff;
  border-radius: 50px;
  left: 1px;
}

.seller-panel {
  display: flex;
  align-items: center;
  justify-content: center !important;
  height: 82px;
}


.suggested-categories-body {
}

.nav-tabs-12 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px 10px 0 0;
}

.nav-tabs-12 li a {
  font-size: 14px;
  color: #212B36;
  margin-right: 20px;
  text-decoration: none;
}

.nav-tabs-12 li .active {
  color: #F05A28
}

.nav-tabs-12 li .active:after {
  content: "";
  width: 138px;
  height: 3px;
  background: #F05A28;
  /* top: 0; */
  position: absolute;
  margin-top: 33px;
  margin-left: -134px;
}

.select-body h3 {
  color: #212B36;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: -7px;
}

.tab-categories.bg-white {
  padding: 20px;
  margin-top: -10px;
  border-radius: 0 0 10px 10px;
}

a.tab-back {
  color: #F05A28;
  font-weight: 700;
  margin-right: 20px;
}
.white-text{
  color: white;
}
.tab-panel-footer {
  border-top: 1px solid #fff;
  margin-top: 20px;
  text-align: right;
  padding-top: 20px;
}

button.btn.btn-continue {
  background: #F05A28;
  border-radius: 50px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.drag-and-drop-files-here-white {
  background: #fff;
}

.drag-and-drop-files-here-images-list span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #77839F;
}

.product-name {
  padding-left: 10px;
}

.col-md-6-more {
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  height: 100%;
  padding-top: 10px;
}

.custom-radio-12 {
  margin-right: 20px;
}

.table-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-header-left p {
  display: block;
  border: 1px solid #E4EBF1;
  width: 100%;
  text-align: center;
  height: 51px;
  line-height: 3;
}

.table-header-right p {
  display: block;
  border: 1px solid #E4EBF1;
  width: 100%;
  text-align: center;
  height: 51px;
  line-height: 3;
}

.table-header-left {
  width: 50%;
}

.table-header-right {
  width: 50%;
}

.table-header-left-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #E4EBF1;
  margin-bottom: 15px;
  border-right: 1px solid #E4EBF1;
}

.table-header-right-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #E4EBF1;
  margin-bottom: 15px;
}

.table-header-left-body span {
  height: calc(1.5em + .75rem + 2px);
}

.p_line {
  width: 200px !important;
  height: calc(1.5em + .75rem + 2px) !important;
  border: 0 solid !important;
  display: block;
}

.side-nave a {
  display: block;
  width: 100%;
  color: #77839F;
  padding-left: 0;
}

.side-nave .nuxt-link-exact-active {
  color: #F05A28 !important;
}


@media screen and (max-width: 1500px) {
  .products-card-right {
    width: 70%;
  }

  .products-card-menu ul li a {

    margin-left: 0;
    margin-right: 0;

  }

  .products-card-left {

    margin-right: 20px;
  }


}

.products-card-left {

  margin-right: 20px;
}

.nav-mobile {

  display: none;
}

.mobile-close-button {

  display: none;
}

.contact-profile-nav {

  display: none;
}

.personal-Info-header-phone-nav {
  display: none;
}

@media screen and (max-width: 960px) {
  .category-card {

    width: 100%;
  }

  .category-title-card {
    width: 100%;
    font-size: 22px;

    line-height: 28px;
  }


}

@media screen and (max-width: 768px) {
  .contact-profile-nav {
    display: block;
  }

  .personal-Info-header-phone-nav {
    display: block;
  }

  .seller-panel {
    height: 60px;
  }

  .seller-panel-product {
    display: block !important;

  }

  .seller-panel-card {
    display: block !important;
  }

  .seller-panel-product-card {
    margin-bottom: 30px;
  }

  .seller-panel-line {

    width: 100% !Important;

    margin-bottom: 10px !Important;
  }

  .seller-panel-product-card {
    width: 100% !Important

  }

  .seller-panel-left-sidebar {
    position: absolute;
    z-index: 999;
    margin-left: -200px;
    transition: 2s;

  }

  .seller-panel-left-sidebar.show-nav {
    margin-left: 0;
    transition: 1s;
  }

  .products-card-left {
    width: 60%;
    background: #EFF1F4;
    height: 90vh;
    position: absolute;
    z-index: 9;
    margin-left: -500px;
    transition: 2s;
    padding: 49px 13px 13px;
  }

  .nav-mobile {
    display: block;
  }

  .mobile-close-button {
    position: absolute;
    right: -40px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
  }

  .products-card-left.products-card-left-show-nav {
    margin-left: 100px;
    transition: 2s;
  }

  .products-card-right {
    width: 100% !important;
  }

  .nav-tabs-12 li a {

    display: block;
    margin-bottom: 22px;
  }

  .seller-panel-body {
    width: 100% !Important;
    margin-left: 5%;
  }

  .select-body {
    padding: 10px;
  }

  .select-body h3 {
    margin-top: 0;
  }

  .products-card-menu ul li a {

    width: 158px;

  }

  .drag-and-drop-files-here-images-list ul li {

    width: 100%;

  }

  .p_line {
    width: 100% !important;
    font-size: 10px;
    margin-left: 5px;

  }

  .add-certificate {

    width: 100%;

  }

  .submitted-certifications {

    overflow-y: scroll;
  }


  .personal-Info-header {

    display: block !important;
    height: 108px !important;

  }

  .personal-Info-header-right {
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .personal-Info-header-left {
    padding-top: 10px;
  }

  .personal-Info-left-bar {
    transition: 2s;
    display: none;
    position: absolute;
    z-index: 9;
    background: #dee2e6;
  }

  .personal-Info-right-bar {
    width: 100% !important;

  }

  .progress-line {

    width: 90% !important;
  }

  .seller-panel-user ul li a {

    font-size: 12px !important;


  }

  .drop-menu {

    margin-left: -3px !important;

  }

  .drop-menue:after {

    left: calc(85% - 165px) !important;

  }

  #frame #side-panel {
    width: 316px !important;
    position: absolute !important;
    z-index: 9;
    text-align: left;
    margin-left: -500px;
    transition: 2s;

  }

  #frame #side-panel #contacts ul li.contact {
    transition: 2s;
    display: flex !important;
  }

  .side-panel-show-nav {
    margin-left: 0 !important;
    transition: 2s;
  }

  #frame #side-panel #contacts ul li.contact .wrap .meta {
    display: block !important;
  }

  #frame .content {
    width: calc(100% - 0px) !important;

  }

  .contact-profile-user {
    width: 100% !important;

    display: block;

  }

  .contact-profile-nav {
    padding-left: 10px;
  }

  #frame .content .messages ul li.replies p {

    float: left !important;

  }

  #frame {
    margin-left: -5px !important;
  }

  #frame #side-panel #profile .wrap p {
    display: block !important;
    color: #fff !important;
  }

  .envelope-left {

    color: #fff !important;

  }

  #frame #side-panel #profile {

    padding-left: 10px !important;
  }


}
.error-text{
    color:red !important;
  }


/*small footer end here*/
/*footer section CSS End Here*/
