<template>
  <div class="col-md-12 personal-Info-input">
    <label>{{title}}</label>
    <div class="drag-and-drop-files-here certificate-bg">
      <div class="drag-and-drop-files-here-bg">
        <p>Drag and drop files here</p>
        <p>or</p>
        <span class="btn btn-primary btn-file"> Browse files
          <input name="file" :multiple="multiple" accept="image/jpeg" @change="$emit('change', $event);"
                 placeholder="file.jpeg"
                 type="file"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
          default: 'Drag and Drop photos',
          required: false
      },
      multiple: {
        default: false,
        required: false
      }
    },
    name: "DragFileInput"
  }
</script>

<style scoped>

</style>
