<template>
  <div>
    <label>{{label}}</label>
    <select v-model="localSelectionList" class="custom-select">
      <option selected disabled value="">{{selected}}</option>
      <option v-for="item in items" :value="item[index]">{{item[text]}}</option>
    </select>
  </div>
</template>

<script>
  export default {
    name: "selectList",
    props: {
      value: {
        default: '',
        required: true
      },
      label: {
        required: true,
        type: String
      },
      items: {
        required: true,
        type: Object | Array
      },
      index: {
        default: 'id',
        required: false,
        type: String
      },
      selected: {
        default: 'Please select',
        required: false,
        type: String
      },
      text: {
        default: 'name',
        required: false,
        type: String
      }
    },
    computed: {
      localSelectionList: {
        get() {
          return this.value
        },
        set(value) {
          this.$emit('input', value);
        }
      }
    }
  }
</script>

<style scoped>

</style>
