<template>
  <div ref="sellerPanel">
    <auth-header/>
    <div class="container-fluid">
      <div class="seller-panel-container">
        <auth-sidebar v-if="acctType === 'seller'"/>
        <auth-sidebar-buyer v-else/>
        <nuxt/>
      </div>
    </div>
    <footer-section/>
  </div>
</template>

<script>
  import AuthHeader from "../components/auth/common/AuthHeader";
  import FooterSection from '../components/common/navigation/FooterSection'
  import AuthSidebar from "../components/auth/common/AuthSidebar";
  import AuthSidebarBuyer from "../components/auth/common/AuthSidebarBuyer";

  export default {
    middleware: 'auth',
    name: "authenticate",
    components: {
      AuthSidebar,
      AuthHeader,
      FooterSection,
      AuthSidebarBuyer,
    },
    data: () => ({
      acctType: 'buyer'
    }),

    watch: {
      $route(to, from) {
        this.resetSidebar(to)
      }
    },

    created() {
      this.resetSidebar(this.$route)
    },

    methods: {
      resetSidebar(currentRoute) {
        const acctType = currentRoute.path.includes("buyer") ? 'buyer' : 'seller';
        const userAcctType = this.$auth.user.account_type;

        switch (userAcctType) {
          case 1: //seller
            if (acctType !== undefined && acctType === 'seller') {
              this.acctType = 'seller';
              // this.$router.push('/user');
            }
            break;
          case 2: //buyer
            if (acctType === 'buyer') {
              this.acctType = 'buyer';
              this.$router.push('/user/buyer');
            }
            break;
          default: //both
            if (acctType !== acctType) {
              if (this.acctType === 'buyer') {
                this.$router.push('/user/buyer');
              } else {
                this.$router.push('/user');
              }
            } else {
              console.log(acctType)
              this.acctType = acctType === 'buyer' ? 'buyer' : 'seller';
            }
        }
      }
    }
  }
</script>

<style>
  @import "assets/css/seller-panel.css";
  @import "assets/css/buyer-panel.css";
</style>
