<template>
  <div>
    <header-section/>
    <navbar-section/>
    <nuxt/>
    <footer-section/>
  </div>
</template>

<script>
  import HeaderSection from "../components/common/navigation/header/HeaderSection";
  import FooterSection from "../components/common/navigation/FooterSection";
  import NavbarSection from "../components/common/navigation/NavbarSection";

  export default {
    components: {
      HeaderSection,
      NavbarSection,
      FooterSection,
    }
  }
</script>
