<template>
  <div class=" dropdown-container" >
    <button class="fas fa-angle-down menu-header" @click="isOpen = !isOpen">
      {{ title }}
    </button>
      <div v-if="isOpen">
        <div v-for="(item,index) in items" :key="item.id" >
          <button class="menu-header" @click="selectItem(item,index)" >{{ item.name }}</button>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'dropdown',
  props: ['title', 'items' ],
  data () {
    return {
      isOpen: false,
      title:this.title
    }
  },
  methods:{
    selectItem(item,index){
      this.isOpen=false
      this.title=item.name
      this.$emit('onPress', item,index);
    }
  }
}
</script>

<style>
.menu-header{
  padding:5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  border-radius: 5px !important;
}
.dropdown-container {
  border-radius: 5px;
}
</style>