<template>
  <div>
    <div 
      @click="nodeClicked"
      :style="{'margin-left': `${depth * 20}px`}"
      class="node"
    >
      <span v-if="hasChildren" class="type">{{expanded ? '&#45;' : '&#43;'}}</span>
      <input class="form-check-input" type="checkbox" v-model="checked" v-else>
      <span 
        :style="getStyle(node)">{{node.name}}</span>
    </div>
    <div
      v-if="expanded"
    >
    <TreeBrowser 
      v-for="child in node.children"
      :key="child.id"
      :node="child"
      :depth="depth + 1"
      :categoryList="categoryList"
      @onClick="(node) => $emit('onClick', node)"
      @removeClick="(node) => $emit('removeClick', node)"
    /></div>
  </div>
</template>

<script>

export default {
  name: 'TreeBrowser',
  props: {
    node: Object,
    categoryList: Array,
    depth: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      expanded: false,
      checked: this.categoryList.includes(this.node.id)
    }
  },
  methods: {
    nodeClicked() {
      this.expanded = !this.expanded;
      if (!this.hasChildren) {
        this.checked?
        this.$emit('removeClick', this.node):
        this.$emit('onClick', this.node);
        this.checked=!this.checked
      }
    },
    getStyle(node) {
      let color = 'red';
      if (!node.children || node.children.length==0) {
        color = 'steelblue'
      }
      return {
        color,
      }
    }
  },
  computed: {
    hasChildren() {
      return (this.node.children && this.node.children.length>0);
    }
  }
}
</script>

<style scoped>
.node {
  text-align: left;
  font-size: 18px;
  background-color:burlywood;
  width:fit-content;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.type {
  color: blueviolet;
  margin-right: 10px;
}
.expandBorder{
  border:2px;
  border-color: steelblue;
}
</style>
