<template>
  <div>
    <img v-if="company.logo" :src="baseAsset+company.logo" :alt="user.company.name"/>
    <img v-else src="~assets/img/default/company.png" :alt="user.company.name"/>
  </div>
</template>

<script>
  export default {
    name: "companyLogo",
    computed: {
      company() {
        return this.$store.getters.companyDetails;
      }
    }
  }
</script>

<style scoped>

</style>
