<template>
  <ul v-if="photos.length">
    <li v-for="photo  in photos" :key="photo.id">
      <span><img :src="baseAsset+photo.photo" alt=""/></span>
      <span @click="removePhoto(photo)"><i class="fas fa-times-circle"></i></span>
    </li>
  </ul>
</template>

<script>
  import {COMPANY_PHOTO_DELETE, COMPANY_PHOTO_LIST} from "../../../../store/modules/company";

  export default {
    name: "companyPhotos",
    created() {
      this.$store.dispatch(COMPANY_PHOTO_LIST)
    },
    computed: {
      photos() {
        return this.$store.getters.companyPhotos;
      }
    },
    methods: {
      removePhoto(photo) {
        this.$store.dispatch(COMPANY_PHOTO_DELETE, photo.id)
      }
    }
  }
</script>

<style scoped>

</style>
