<template>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h4 class="from-center-headline">{{title}}</h4>
      </div>
      <ValidationObserver ref="companyProduct" class="col-md-12 ">
        <div class="personal-Info-input" v-for="index in formIndex" :key="index">
          <validation-provider rules="required" v-slot="{ errors }" :vid="items[index]"
                               name="Product Name">
            <input v-model="items[index]" type="text" class="form-control"
                   placeholder="Hand Bang / Hand Purse"/>
            <errors>{{ errors[0] }}</errors>
          </validation-provider>
        </div>
        <div class="col-md-12 personal-Info-input text-right">
          <a class="cursor-pointer" @click="addMoreProduct">+Add More </a>
        </div>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
  import Errors from "../../common/form/errors";
  import {ValidationProvider, ValidationObserver} from "vee-validate";

  export default {
    components: {Errors, ValidationProvider, ValidationObserver},
    props: ['isMain', 'title'],
    name: "CompanyProductForm",
    data() {
      return {
        formIndex: 1,
        items: [],
      }
    },
    methods: {
      addMoreProduct() {
        this.$refs.companyProduct.validate().then(success => {
          if (!success) {
            return;
          }
          this.$axios.post('comp_products', {
            company_id: this.user.company.id,
            name: this.items[this.formIndex],
            is_main: this.isMain
          }).then(res=>{
           /* this.$toast.success(res.data.message);*/
          });
          this.formIndex++;
          this.error = '';
        })
      }
    }
  }
</script>

<style scoped>

</style>
