<template>
  <div class="personal-Info-left-bar" :class="{'d-block':showNav}">
    <company-logo/>

    <h4 class="name-color">{{company.name}}</h4>

    <ul>
      <li v-if="company.website">Website
        <span>
          <a :href="company.website" target="_blank">{{company.website}}</a>
        </span>
      </li>
      <li v-if="company.phone">Phone <span><a :href="`tel:${company.phone}`">{{company.phone}}</a></span></li>
      <li v-if="company.email">Email <span><a :href="`mailto:${company.email}`">{{company.email}}</a></span></li>
      <li>Join Date <span>11 Nov 2020 </span></li>
      <li>Country <span> Bangladesh </span></li>
    </ul>
    <div class="company-profile">
      <p class="verified-seller"><i class="fas fa-bahai"></i> Verified Seller</p>
      <p class="response-rate"><i class="fas fa-share"></i> 100.0% Response Rate</p>
    </div>
  </div>
</template>

<script>
  import CompanyLogo from "./companyLogo";

  export default {
    name: "companyProfile",
    components: {CompanyLogo},
    computed: {
      showNav() {
        return this.$store.getters.mobileNav["personal-Info-left-bar"];
      },
      company() {
        return this.user.company;
      }
    }
  }
</script>

<style scoped>

</style>
