<template>

  <div>
    <section class="hero_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-3  mt-2">
            <home-categories/>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-9  mt-2">
            <div class="slider_hero">
              <div>

                <!-- <ol class="carousel-indicators">
                   <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                   <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                   <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                 </ol>-->
                <carousel-list :items="[1,2,3]" class="carousel-inner">
                  <template slot="image" slot-scope="item">
                    <img src="~assets/img/slider/1.png" class="d-block w-100" :alt="item">
                  </template>

                  <template slot="controlNav">
                    <button type="button" data-glide-dir="<" class="carousel-control-prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only"></span>
                    </button>
                    <button type="button" data-glide-dir=">" class="carousel-control-next">
                      <span class="carousel-control-next-icon"></span>
                      <span class="sr-only"></span>
                    </button>
                  </template>
                </carousel-list>
                <!--<div class="carousel-inner">

                  <div class="carousel-item active">
                    <img src="~assets/img/slider/1.png" class="d-block w-100" alt="Slider 1">
                  </div>

                  <div class="carousel-item">
                    <img src="~assets/img/slider/1.png" class="d-block w-100" alt="Slider 2">
                  </div>

                  <div class="carousel-item">
                    <img src="~assets/img/slider/1.png" class="d-block w-100" alt="Slider 3">
                  </div>

                </div>-->

                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>

                 <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>-->

              </div>
            </div>

          </div>

        </div>
      </div>
    </section>

    <!--Hero Section End here-->
    <!--Hero Section Home page img going here-->
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col-md-12">
          <img src="~assets/img/home1.png" class="img-fluid" width="100%" alt="">
        </div>
      </div>
    </div>
    <!--Hero Section Home page img end here-->


    <!--Products Section Home page img going here-->
    <section class="product_section">
      <div class="container-fluid">

        <div class="row mt-3 mb-3">
          <div class="col-md-1">
            <button class="btn btn_bg_danger text-white">March</button>
          </div>
          <div class="col-md-3">
            <h2 class="text-uppercase font-weight-bold header_text_res">Weekly Deals</h2>
          </div>
          <div class="col-md-8">
            <hr class="hr_line">
          </div>
        </div>

        <div class="row">

          <div class="col-md-3 col-md-3 col-lg-3">
            <div class="expo text-center">
              <div class="text pt-4">
                <h3 class="text-white">March Expo 2020</h3>
                <hr>
              </div>

              <p class="text-uppercase event_text pt-2">This event will start soon</p>
              <table id="expo_count_down" class="mt-4 text-center">
                <tr>
                  <td>
                    <div class="days"></div>
                  </td>
                  <td>
                    <div class="hours"></div>
                  </td>
                  <td>
                    <div class="minutes"></div>
                  </td>
                </tr>

                <tr class="text-uppercase text-white">
                  <td>Days</td>
                  <td>Hours</td>
                  <td>Months</td>
                </tr>
              </table>

              <button type="submit"
                      class="btn btn-light pt-2 pb-2 pl-4 pr-4 mt-5 shadow view_more_btn text_color font-weight-bold">
                View More
              </button>
            </div>
          </div>

          <div class="col-md-3">

            <div class="product img-thumbnail">

              <div class="card">
                <img class="card-img-top" src="~assets/img/products/1.png" alt="Card image cap">
                <div class="card-body">
                  <div class="product_text d-flex m-2">
                    <h6 class="card-title text-uppercase"><p class="category_font_size text-uppercase">Assosories</p>
                      BROWN WALLET
                    </h6>
                    <h5 class="card-title text-danger mt-3">$21</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->

          </div>
          <div class="col-md-3">
            <div class="product img-thumbnail">
              <div class="card">
                <img class="card-img-top" src="~assets/img/products/2.png" alt="Card image cap">
                <div class="card-body">
                  <div class="product_text d-flex m-2">
                    <h6 class="card-title text-uppercase"><p class="category_font_size text-uppercase">Cloths</p>T-shirt
                    </h6>
                    <h5 class="card-title text-danger mt-3">$12</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->

          </div>
          <div class="col-md-3">
            <div class="product img-thumbnail">
              <div class="card">
                <img class="card-img-top" src="~assets/img/products/3.png" alt="Card image cap">
                <div class="card-body">
                  <div class="product_text d-flex m-2">
                    <h6 class="card-title text-uppercase"><p class="category_font_size text-uppercase">Assosories</p>
                      BROWN WALLET
                    </h6>
                    <h5 class="card-title text-danger mt-3">$90</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->
          </div>


        </div> <!--Row end -->

        <div class="row mt-4 mb-4">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h2 class="text-uppercase font-weight-bold header_text_res">Ecommerce Buyers Zon's</h2>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-8">
            <hr class="hr_line">
          </div>
        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ecommerce ">

              <div class="text p-4 text-capitalize">
                <h3 class="text-white">Look for product's form</h3>
                <h3 class="text-white"><strong>One-Stop Service Suppliers</strong></h3>

              </div>

              <div class="ecommer_btn text-center">

                <button type="submit"
                        class="btn btn-light pt-2 pb-2 pl-4 pr-4 mt-5 shadow view_more_btn text_color font-weight-bold">
                  View More
                </button>
              </div>

            </div>
          </div>

          <div class="col-md-3">

            <div class="product img-thumbnail">

              <div class="card">
                <img class="card-img-top" src="~assets/img/products/1.png" alt="Card image cap">
                <div class="card-body">
                  <div class="ecommerce_product_text d-flex justify-content-between mt-3 mb-3 ml-4 mr-4 pl-5 pr-5">
                    <h5 class="card-title text_discount text-white bg_danger pl-3 pr-3 pt-2 pb-2">-10%</h5>
                    <h5 class="card-title text-danger pt-2">$182</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->

          </div>
          <div class="col-md-3">
            <div class="product img-thumbnail">
              <div class="card">
                <img class="card-img-top" src="~assets/img/products/1.png" alt="Card image cap">
                <div class="card-body">
                  <div class="ecommerce_product_text d-flex justify-content-between mt-3 mb-3 ml-4 mr-4 pl-5 pr-5">
                    <h5 class="card-title text_discount text-white bg_danger pl-3 pr-3 pt-2 pb-2">-10%</h5>
                    <h5 class="card-title text-danger pt-2">$182</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->


          </div>
          <div class="col-md-3">
            <div class="product img-thumbnail">
              <div class="card">
                <img class="card-img-top" src="~assets/img/products/1.png" alt="Card image cap">
                <div class="card-body">
                  <div class="ecommerce_product_text d-flex justify-content-between mt-3 mb-3 ml-4 mr-4 pl-5 pr-5">
                    <h5 class="card-title text_discount text-white bg_danger pl-3 pr-3 pt-2 pb-2">-10%</h5>
                    <h5 class="card-title text-danger pt-2">$182</h5>
                  </div>
                </div>
              </div><!--card end-->

            </div><!--product end-->
          </div>


        </div> <!--Row end -->

        <div class="row mt-2">


          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item text-center">
              <img src="~assets/img/category/1.png" class="img-fluid" alt="">
              <p>Building & Constraction</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item text-center">
              <img src="~assets/img/category/1.png" class="img-fluid" alt="">
              <p>Building & Constraction</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item text-center">
              <img src="~assets/img/category/1.png" class="img-fluid" alt="">
              <p>Building & Constraction</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item text-center">
              <img src="~assets/img/category/1.png" class="img-fluid" alt="">
              <p>Building & Constraction</p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item text-center">
              <img src="~assets/img/category/1.png" class="img-fluid" alt="">
              <p>Building & Constraction</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-1">
            <div class="item_btn text-center">
              <nuxt-link tag="button" to="/categories" class="btn btn_danger">View All Categories</nuxt-link>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!--Products Section Home page img end here-->

    <!--Treanding Section  going here-->
    <section class="trending_section mt-5 shadow mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card mb-3">
              <div class="row no-gutters">

                <div class="col-sm-12 col-md-4 col-lg-4">
                  <img src="~assets/img/trending/1.png" height="100%" class="card-img" alt="Trending image">
                </div>

                <div class="col-md-8 p-2">
                  <div class="card-body">

                    <div class="row p-2">
                      <div class="col-md-10">
                        <h4 class="header_text_res">Apparel, Clothing & Garments</h4>
                      </div><!--col end -->
                      <div class="col-md-2">
                        <button type="submit" class="btn "><h4><a href="#" class="btn_danger">View All</a></h4></button>
                      </div> <!--col end -->
                    </div> <!--row end -->

                    <div class="row p-3">
                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>

                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                    </div><!--row end -->


                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!--Treanding Section end here-->


    <!--Treanding Section  going here-->
    <section class="trending_section mt-5 shadow mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card mb-3">
              <div class="row no-gutters">

                <div class="col-sm-12 col-md-4 col-lg-4">
                  <img src="~assets/img/trending/2.png" height="100%" class="card-img" alt="Trending image">
                </div>

                <div class="col-md-8 p-2">
                  <div class="card-body">

                    <div class="row p-2">
                      <div class="col-md-10">
                        <h4 class="header_text_res">Building Constraction Material & Equipment</h4>
                      </div><!--col end -->
                      <div class="col-md-2">
                        <button type="submit" class="btn "><h4><a href="#" class="btn_danger header_text_res">View
                          All</a></h4></button>
                      </div> <!--col end -->
                    </div> <!--row end -->

                    <div class="row p-3">
                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>

                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                    </div><!--row end -->


                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!--Treanding Section end here-->


    <!--Treanding Section  going here-->
    <section class="trending_section mt-5 shadow mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="card mb-3">
              <div class="row no-gutters">

                <div class="col-sm-12 col-md-4 col-lg-4">
                  <img src="~assets/img/trending/1.png" height="100%" class="card-img" alt="Trending image">
                </div>

                <div class="col-md-8 p-2">
                  <div class="card-body">

                    <div class="row p-2">
                      <div class="col-md-10">
                        <h4 class="header_text_res">Apparel, Clothing & Garments</h4>
                      </div><!--col end -->
                      <div class="col-md-2">
                        <button type="submit" class="btn "><h4><a href="#" class="btn_danger">View All</a></h4></button>
                      </div> <!--col end -->
                    </div> <!--row end -->

                    <div class="row p-3">
                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>

                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->

                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>


                      </div><!--col end -->


                      <div class="col-sm-12 col-md-6 col-lg-4 p-1">

                        <div class="tren_card d-flex">
                          <div class="card_img">
                            <img src="~assets/img/trending/trending_1.png" class="card-img" height="100%"
                                 alt="Treanding item">
                          </div>
                          <div class="card_text">
                            <h6 class="card-title pl-2">Sub Category Name</h6>
                            <ul class="pl-4">
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                              <li>items name</li>
                            </ul>
                          </div>
                        </div>
                      </div><!--col end -->

                    </div><!--row end -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
    <h2 class="text-center ">
      <nuxt-link to="/categories" class="text_color header_text_res">View All Categories >></nuxt-link>
    </h2>
    <!--Treanding Section end here-->


    <!--Related product going here-->

    <section class="related_product_sec mt-5 mb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text_color mt-3 mb-3 header_text_res">Explore related products from premium brands</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->


          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->

          <div class="col-sm-6 col-md-3 col-lg-2 p-1">
            <img src="~assets/img/related_img/1.png" width="100%" height="100%" class="rounded mx-auto d-block"
                 alt="related img">
          </div><!--col end-->


        </div> <!--row end-->

        <!--We connect going here-->
        <div class="row mt-4 mb-4">
          <div class="col-sm-12 col-md-6 col-lg-6 p-4 mt-2">

            <div class="border p-5 custom_padding">
              <h3 class="header_text_res">Get <strong>free</strong> quotes form</h3>
              <h3 class="header_text_res">Multiple Sellers</h3>

              <div class="we_connect_social text-center">
                <div class="row we_connect_social_items pt-3">
                  <div class="col-sm-12 col-md-4 col-lg-4 we_connect_social_item">
                    <div class="social_item">
                      <img src="~assets/img/tell_us.png" class="img-fluid" width="100%" height="100%" alt="">
                    </div>
                    <p class="text-dark">Tell Us What</p>
                    <p><strong>You Need</strong></p>
                  </div>

                  <div class="col-sm-12 col-md-4 col-lg-4 we_connect_social_item">
                    <div class="social_item">
                      <img src="~assets/img/receive.png" class="img-fluid" width="100%" height="100%" alt="">
                    </div>
                    <p class="text-dark">Receive free quotes</p>
                    <p><strong><span class="text-dark">form</span> Seller</strong></p>
                  </div>


                  <div class="col-sm-12 col-md-4 col-lg-4 we_connect_social_item">
                    <div class="social_item">
                      <img src="~assets/img/handshake.png" class="img-fluid" width="100%" height="100%" alt="">
                    </div>
                    <p class="text-dark">Seal the</p>
                    <p><strong>Deal</strong></p>
                  </div>

                </div>
              </div>

            </div>  <!-- border end-->

          </div>

          <div class="col-sm-12 col-md-6 col-lg-6 mt-4 pt-2">
            <div class="border p-4">
              <h2 class=" font-weight-bold header_text_res">Tell us your requirement</h2>
              <div class="form text-center">

                <form>
                  <div class="form-group mt-2">
                    <label></label>
                    <input type="text" class="form-control p-3" id="title" placeholder="What are you looking for...">
                  </div>

                  <div class="row we_connect_form d-flex">
                    <div class="col-lg-6 connect_form_left">
                      <div class="input-group mt-2">
                        <label></label>
                        <input type="text" class="form-control p-3" id="title3" placeholder="Quanties">
                      </div>
                    </div>
                    <div class="col-lg-6 connect_form_right">

                      <div class="input-group mt-2">
                        <div class="dropdown dropdown_edit">
                          <button class="btn dropdown-toggle p-3 text-left" type="button" id="title2"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Piece/Pieces
                          </button>
                          <div class="dropdown-menu dropdown_edit" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div><!--end search_box -->

                </form>

                <a href="#" class="btn request_btn_bg_color btn-outline-warning mt-3"><strong>Request For
                  Quotation</strong></a>

              </div>

            </div><!-- border end-->

          </div>
        </div><!--row end-->

        <!--Related We connect end here-->

        <div class="row mt-3 mb-3">

          <div class="col-md-4">
            <h2 class="text-capitalize font-weight-bold header_text_res">Find supplier from top cities</h2>
          </div>
          <div class="col-md-8">
            <hr class="hr_line">
          </div>
        </div>

        <div class="row">

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>


          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2 mt-2 text-center">
            <img src="~assets/img/supplier_icon.png" class="img-fluid" width="50%" height="50%" alt="icon">
            <p>Place Name</p>
          </div>

        </div>
      </div>
    </section>

    <!--Related product end here-->


    <!--Happy Customer going here-->
    <section class="happy_customer_sec p-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <h2 class="text-uppercase font-weight-bold header_text_res">Our happy Customer</h2>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-8">
            <hr class="hr_line">
          </div>
        </div> <!--row end-->

        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5">
            <h4>Mehedi Hasan</h4>
            <h6 class="text-dark">Company Name</h6>
            <h6 class="text-dark">Tizaara Seller</h6>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eos tenetur dolor nihil, minus voluptate.
              Molestias, ratione saepe, at consectetur unde soluta tenetur in, dolorem delectus fuga nostrum explicabo
              sed similique nesciunt assumenda eos provident odit aperiam minus! Dolores, mollitia sit hic totam est
              voluptatibus dicta optio pariatur, molestias reprehenderit.</p>
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="jumbotron_edit">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/V_MQl5TdbhQ?controls=0"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen class="video"></iframe>
            </div>


          </div>
        </div><!--row end-->

        <div class="row">
          <div class="col">
            <h4>More Review</h4>
          </div>

        </div><!--row end-->

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="parent-box owl-carousel">
              <div class="box rounded ">
                <div class="carousel_video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QVNi8lsPZ-A" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen class="carousel_video_item shadow-sm"></iframe>
                </div>
              </div>
              <div class="box rounded ">
                <div class="carousel_video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QVNi8lsPZ-A" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen class="carousel_video_item shadow-sm"></iframe>
                </div>

              </div>
              <div class="box rounded ">
                <div class="carousel_video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QVNi8lsPZ-A" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen class="carousel_video_item shadow-sm"></iframe>
                </div>

              </div>
              <div class="box rounded ">
                <div class="carousel_video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QVNi8lsPZ-A" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen class="carousel_video_item shadow-sm"></iframe>
                </div>

              </div>

            </div>
          </div><!--col end-->
        </div><!--row end-->
      </div>
    </section>
    <!--Happy Customer end here-->


  </div>
</template>
<script>
  import {mapGetters} from "vuex";
  import CarouselList from "../components/common/carousel/carouselList";
  import {CATEGORY_LIST} from "../store/modules/categories";
  import HomeCategories from "../components/common/home/categories";

  export default {
    components: {HomeCategories, CarouselList},
    created() {
      this.$store.dispatch(CATEGORY_LIST);
    },
    computed: {
      ...mapGetters(['categories', 'parentCategories'])
    }
  }
</script>
