<template>
  <div :class="'seller-panel-body'">
    <nuxt-child/>
  </div>
</template>

<script>
  export default {
    name: "user",
    layout: 'authenticate',
  }
</script>

<style scoped>

</style>
