<template>
  <div class="add-certificate">
    <h3>{{tradeMembership.id?'Update':'Add'}} Trade membership</h3>
    <validation-observer ref="companyTradeMemberShip" v-slot="{dirty}">
      <form id="companyTradeMemberShip" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="col-md-6 personal-Info-input">
            <label>Company Trade MemberShip Name</label>
            <validation-provider rules="required" vid="name" name="name" v-slot="{errors}">
              <input v-model="tradeMembership.name" type="text" class="form-control"
                     placeholder="Dhaka, Bangladesh"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
        </div>
        <button type="submit"
                class="btn btn-continue float-right"
                form="companyTradeMemberShip">
          {{tradeMembership.id?'Update':'Save'}}
        </button>
      </form>
    </validation-observer>
  </div>
</template>

<script>
  import {ValidationObserver, ValidationProvider} from "vee-validate";
  import Errors from "../../../../common/form/errors";
  import {COMPANY_TRADE_MEMBERSHIP_UPDATE} from "../../../../../../store/modules/companyTradeMemberhsip";
  import {deepCopy} from "../../../../../../core/services/helper";

  export default {
    name: "formTradeMemberShip",
    components: {Errors, ValidationProvider, ValidationObserver},
    data() {
      return {
        tradeMembership: {}
      }
    },
    computed: {
      singleTradeMemberShip() {
        return this.$store.getters.tradeMembership;
      }
    },
    methods: {
      submitForm() {
        this.$refs.companyTradeMemberShip.validate().then(success => {
          if (!success) {
            return;
          }
          this.tradeMembership.company_id = this.user.company.id;
          this.tradeMembership.status = 1;
          this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_UPDATE, this.tradeMembership);
        });
      }
    },
    watch: {
      'singleTradeMemberShip': {
        handler(value) {
          this.tradeMembership = deepCopy(value);
        },
        immediate: true
      },
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyTradeMemberShip.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyTradeMemberShip.setErrors(ers);
          }
        }
      },
    }
  }
</script>

<style scoped>

</style>
