<template>
  <div class="submitted-certifications" v-if="tradeMemberships.length">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" v-for="tableHeader in tableHeaders">{{tableHeader}}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="tradeMembership in tradeMemberships">
        <td v-for="(tableHeader, index) in tableHeaders">{{tradeMembership[index]}}</td>
        <td>
          <div class="edit-delete">
            <!--  <a href="">Edit</a>-->
            <span @click="editItem(tradeMembership.id)" class="text-primary cursor-pointer "><i
              class="fas fa-pen-square fa-2x"></i></span>
            <span @click="deleteItem(tradeMembership.id)" class="text-danger cursor-pointer custom_padding"> <i
              class="fas fa-trash-alt fa-2x"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    COMPANY_TRADE_MEMBERSHIP_DELETE, COMPANY_TRADE_MEMBERSHIP_DETAILS
  } from "../../../../../../store/modules/companyTradeMemberhsip";

  export default {
    name: "tradeMembershipList",
    data() {
      return {
        tableHeaders: {
          name: 'Name'
        }
      }
    },
    computed: {
      tradeMemberships() {
        return this.$store.getters.tradeMemberships;
      }
    },
    methods: {
      deleteItem(id) {
        if (confirm('Are you really want to delete')) {
          this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_DELETE, id);
        }
       /* this.$toast.show(
          'Are you want to confirm delete?', {
            duration: 6000,
            action: [
              {
                text: 'Yes',
                onClick: (e, obj) => {
                  this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_DELETE, id);
                  obj.goAway(0);
                }
              },
              {
                text: 'No',
                onClick: (e, obj) => {
                  obj.goAway(0);
                }
              },
            ]
          }
        )*/
      },
      editItem(id) {
        this.$store.dispatch(COMPANY_TRADE_MEMBERSHIP_DETAILS, id);
      }
    }
  }
</script>

<style scoped>

</style>
