<template>
  <div class="select-body">
    <h3>Payment Terms</h3>
    <div class="col-md-12 paddin-nr-20">
      <div class="row"
      style="width:60%"
      >
        <div class="col-md-12">
          <p>Select Payment Terms</p>
        </div>
        <div class="row">
        <div 
          v-for="(method,i) in paymentMethods" :key="i"
          class="node"
          style="margin:20px"
        >
          <input type="checkbox" v-model="method.selected">
          <span @click="nodeClicked(i)" class="node">{{method.name}}</span>
        </div>
        <div v-if="paymentMethods[paymentMethods.length-1].selected" class="col-md-3">
          <input type="text" class="form-control mb-2"
          style="width:150px;margin-top:10px;"
            placeholder="Method Name"
            v-model="newMethod"
            >
          <md-button style="font-weight: 700; margin-top:55px" class="btn " @click="setMethod"> + Add Method </md-button>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Product Code</label>
            <input type="text" class="form-control"
                   aria-describedby="emailHelp"
                   placeholder=""
                   v-model="productCode"
                   >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Processing Time</label>
            <input type="text" class="form-control"
                   aria-describedby="emailHelp"
                   placeholder="In days"
                   v-model="processingTime"
                  >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Port of Dispatch</label>
            <input type="text" class="form-control"
                   aria-describedby="emailHelp"
                   placeholder="Port Name"
                   v-model="portDispatch"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Supply Ability</label>
            <input type="text" class="form-control"
                   aria-describedby="emailHelp"
                   placeholder="Ex. 10000"
                   v-model="supplyAbility"
                   >
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label> </label>
            <select class="form-control"
            style="margin:10px"
            v-model="pieces"
            >
              <option disabled>Pieces</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label> </label>
            <select class="form-control" style="margin:10px"
            v-model="week">
              <option disabled>Week</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Packaging Details</label>
            <textarea class="form-control"
                      rows="3"
                      placeholder="Enter Packaging Type, Dimensions, Container etc.. Max 4000 Characters"
                      v-model="packagingDetails"></textarea>
          </div>
        </div>
      </div>
      <div class="tab-panel-footer">
        <nuxt-link
          class="tab-back"
          to="/user/products/post-product/explain">Back
        </nuxt-link>
        
        <button type="submit" class="btn btn-continue"
            data-toggle="tab"
            href="#additionaldetails" role="tab"
            aria-controls="additionaldetails"
            aria-selected="true">
          <nuxt-link
          class="btn btn-continue white-text"
          to="/user/products/post-product/publish">Continue
          </nuxt-link>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "additional",
    data(){
      return{
        newMethod:'',
        paymentMethods:[
        {
          name: 'bank',
          selected: false
        },
        {
          name: 'bkash',
          selected: false
        },
        {
          name: 'rocket',
          selected: true
        },
        {
          name: 'cash',
          selected: false
        },
        {
          name: 'Other',
          selected: false
        }
      ],
        productCode:'',
        processingTime:null,
        portDispatch:'',
        supplyAbility:null,
        pieces:'Pieces',
        week:'Week',
        packagingDetails:""
      }
    },
    methods:{
      nodeClicked(i){
        this.paymentMethods[i].selected=!this.paymentMethods[i].selected
      },
      setMethod(){
        this.paymentMethods[this.paymentMethods.length-1]={
          name:this.newMethod,
          selected:true
        }
        this.newMethod=''
        this.paymentMethods.push({
          name:"Other",
          selected:false
        })
      }
    }
  }
</script>

<style scoped>

</style>
