<template>
  <div class="select-body">
    <h3>Basic Information</h3>
    <div class="form-group">
      <label>Product Name</label>
      <input v-bind="name" type="email" class="form-control" aria-describedby="emailHelp" placeholder="title...">
    </div>
    <div class="row">
      <div class="col-md-auto">
        <div class="form-group">
          <label>Product Keywords</label>
          <md-chips v-model="keywords" :md-limit=5 class="form-control md-primary shake-on-error" md-placeholder="Type & press enter"></md-chips>
        </div>
      </div>
    </div>
    <div v-if="!screenType">
      <label>
        Select if your product has attributes
      </label>
      <Dropdown title="Product types" @onPress="selectItem" :items="productTypes" />
    </div>
   <div v-else-if="screenType==1" class="row">
     <div class="col-md-12 personal-Info-input">
       <label>Product Photo</label>
       <div class="drag-and-drop-files-here drag-and-drop-files-here-white">
         <div class="drag-and-drop-files-here-bg">
           <p>Drag and drop files here</p>
           <p>or</p>
           <span class="btn btn-primary btn-file"> Browse files<input id="file" ref="file" @change="upload(6)" type="file"/> </span>
         </div>
         <div class="drag-and-drop-files-here-images-list">
           <ul>
             <li v-for="i in 6" :key="i">
              <span>
                <img v-if="productImages[i-1]" :src="productImages[i-1]" />
                <div class="product-name">
                  <span>jeans pant.png</span>
                  <span> 428KB </span>
                </div>
              </span>
               <span> <i class="fas fa-times-circle"></i></span>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Product in Stock</label>
          <input type="text" class="form-control" placeholder="10000000">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-row align-items-center col-md-6-more with-margin">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Product Condition:</label>
          <div class="custom-control custom-radio custom-radio-12">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Used</label>
          </div>
          <div class="custom-control custom-radio custom-radio-12">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">New</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <input v-model="minimumOrder" type="text" class="form-control" placeholder="Minimum order">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Currency</label>
          <select v-model="productCurrency" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>BDT</option>
            <option value="1">USD</option>
            <option value="2">Rupee</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div class=" col-md-6-more">
          <div class="custom-control custom-radio with-margin-top">
            <input id="price" type="radio" name="Price" class="custom-control-input">
            <label class="custom-control-label" for="price">Price</label>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Price BDT</label>
          <input type="text" class="form-control" placeholder="50000">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-row align-items-center col-md-6-more">
          <div class="custom-control custom-radio with-margin-top">
            <input id="volumeTier" type="radio" name="Price" class="custom-control-input">
            <label class="custom-control-label" for="volumeTier">Enable volume tier pricing</label>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-table">
      <div class="table-body">
        <div class="table-header-left">
          <p> Volume Tier</p>
          <div class="table-header-left-body">
            <div class="form-group" >
              <input v-model="newLowLimit" type="text" class="form-control" placeholder="lower limit">
            </div>
            <span> TO </span>
            <div class="form-group" style="margin-left:20px">
              <input v-model="newHighLimit" type="text" class="form-control" placeholder="higher limit">
            </div>
            <div class="form-group" style="margin-left:30px; width:30%">
              <input v-model="newPrice" type="text" class="form-control" placeholder="price">
            </div>
          </div>
        </div>
        <div class="table-header-right">
          <div class="table-header-right-body">
            <div class="form-group">
              <md-button style="font-weight: 700; margin-top:55px" class="btn " @click="addPriceTier"> + Add Volume Tier </md-button>
            </div>
          </div>
          <md-card style="width:50%;margin-left:40px" v-for="(pRange,i) in price" :key="i">
              <md-card-header>
                <div class="md-title">{{pRange.rangeMinimum}} to {{pRange.rangeMaximum}} </div>
              </md-card-header>

              <md-card-content>
                {{pRange.amount}}/- {{pRange.currency}}
              </md-card-content>

              <md-card-actions>
                <md-button @click="removeInfo(i)" >Remove</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
    </div>
   </div>
   <div v-else-if="screenType==2">
      <label>
        Select attributes group
      </label>
      <Dropdown title="Attribute groups" @onPress="selectAttribute" :items="attributes" />
   </div>
   <div v-else  >
     <label>
       Please select attribute values
     </label>
      <div class="menu-list row">
        <Dropdown class="drop-down-menus" v-for="child in attribute" :key="child.id" :title="child.name" @onPress="selectTerm" :items="child.children" />
        <button class="drop-down-menus add-btn" @click="addCombination">+</button>
        <button class="drop-down-menus add-btn" @click="addAllCombination">Add all</button>
      </div>
   </div>
   <div v-for="(combo,i) in combos" :key="i">
     <div class="menu-list"><label class="sec-title border border-dark drop-down-menus" v-for="term in combo" :key="term.id">{{term.name}}</label></div>
    <div class="row">
     <div class="col-md-12 personal-Info-input">
       <label>Product Photo</label>
       <div class="drag-and-drop-files-here drag-and-drop-files-here-white">
         <div class="drag-and-drop-files-here-bg">
           <p>Drag and drop files here</p>
           <p>or</p>
           <span class="btn btn-primary btn-file"> Browse files<input id="file" ref="file" @change="upload(1)" type="file"/> </span>
         </div>
         <div class="drag-and-drop-files-here-images-list">
           <ul>
             <li v-for="i in 1" :key="i">
              <span>
                <img v-if="productImages[i-1]" :src="productImages[i-1]" />
                <div class="product-name">
                  <span>jeans pant.png</span>
                  <span> 428KB </span>
                </div>
              </span>
               <span> <i class="fas fa-times-circle"></i></span>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Product in Stock</label>
          <input type="text" class="form-control" placeholder="10000000">
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="form-row align-items-center col-md-6-more with-margin">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Product Condition:</label>
          <div class="custom-control custom-radio custom-radio-12 with-margin">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Used</label>
          </div>
          <div class="custom-control custom-radio custom-radio-12 with-margin">
            <input type="radio" id="customRadio2" name="customRadio2" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">New</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <input v-model="minimumOrder" type="text" class="form-control" placeholder="Minimum order">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Currency</label>
          <select v-model="productCurrency" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>BDT</option>
            <option value="1">USD</option>
            <option value="2">Rupee</option>
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div class=" col-md-6-more">
          <div class="custom-control custom-radio with-margin-top">
            <input id="price" type="radio" name="Price" class="custom-control-input">
            <label class="custom-control-label" for="price">Price</label>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Price BDT</label>
          <input type="text" class="form-control" placeholder="50000">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-row align-items-center col-md-6-more">
          <div class="custom-control custom-radio with-margin-top">
            <input id="volumeTier" type="radio" name="Price" class="custom-control-input">
            <label class="custom-control-label" for="volumeTier">Enable volume tier pricing</label>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-table">
      <div class="table-body">
        <div class="table-header-left">
          <p> Volume Tier</p>
          <div class="table-header-left-body">
            <div class="form-group" >
              <input v-model="newLowLimit" type="text" class="form-control" placeholder="lower limit">
            </div>
            <span> TO </span>
            <div class="form-group" style="margin-left:20px">
              <input v-model="newHighLimit" type="text" class="form-control" placeholder="higher limit">
            </div>
            <div class="form-group" style="margin-left:30px; width:30%">
              <input v-model="newPrice" type="text" class="form-control" placeholder="price">
            </div>
          </div>
        </div>
        <div class="table-header-right">
          <div class="table-header-right-body">
            <div class="form-group">
              <md-button style="font-weight: 700; margin-top:55px" class="btn " @click="addPriceTier"> + Add Volume Tier </md-button>
            </div>
          </div>
          <md-card style="width:50%;margin-left:40px" v-for="(pRange,i) in price" :key="i">
              <md-card-header>
                <div class="md-title">{{pRange.rangeMinimum}} to {{pRange.rangeMaximum}} </div>
              </md-card-header>

              <md-card-content>
                {{pRange.amount}}/- {{pRange.currency}}
              </md-card-content>

              <md-card-actions>
                <md-button @click="removeInfo(i)" >Remove</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
    </div>
   </div>
    <div class="tab-panel-footer">
      <nuxt-link
        class="tab-back"
        to="/user/products/post-product/">Back
      </nuxt-link>
      <button type="submit" class="btn btn-continue">
        <nuxt-link
        class="btn btn-continue white-text"
        to="/user/products/post-product/explain">Continue
        </nuxt-link>
      </button>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueMaterial from 'vue-material'
  import 'vue-material/dist/vue-material.min.css'
  Vue.use(VueMaterial)
  import Dropdown from '../../../../components/product/Dropdown'
  import attributes from '../../../../components/product/attributes.json'
  export default {
    name: "basic",
    data(){
      return{
        name:'',
        selectedAttributes:[],
        attributes,
        attribute:attributes[0].children,
        keywords: [],
        combos:[],
        minimumOrder:'',
        productCurrency:'',
        price:[
          {
          "rangeMinimum":1,
          "rangeMaximum":100, 
          "currency":"BDT",
          "amount":2000
          }
        ],
        newLowLimit:'',
        newHighLimit:'',
        newPrice:'',
        slug: '',
        productImages:[],
        screenType:0,
        productTypes: [
        {
          name: 'Simple Product',
          id: '1'
        },
        {
          name: 'variable product',
          id:'2'
        }
      ]
      }
    },
    methods:{
      addPriceTier(){
        if(this.newLowLimit.length>0 && this.newHighLimit.length>0 && this.newPrice.length>0){
          this.price.push({
            rangeMinimum:this.newLowLimit,
            rangeMaximum:this.newHighLimit,
            currency: this.productCurrency,
            amount: this.newPrice
          })
          this.newLowLimit=''
          this.newHighLimit=''
          this.newPrice=''
        }
      },
      removeInfo(i){
        this.price=this.price.filter((item,index)=>index!=i)
      },
      upload(number){
        let url = URL.createObjectURL(this.$refs.file.files[0]);
        this.productImages.length<number?
        this.productImages.push(url):this.productImages[this.productImages.length-1]=url
        console.log(this)
        this.$toast.success("uploaded image")
      },
      addCombination(){
        if (this.selectedAttributes.length>0){
        this.combos.push(this.selectedAttributes)
        this.selectedAttributes=[]
        }     
      },
      addAllCombination(){
          function cartesianProduct(args) {
              var r = [], max = args.length-1;
              function helper(arr, i) {
                  for (var j=0, l=args[i].length; j<l; j++) {
                      var a = arr.slice(0); // clone arr
                      a.push(args[i][j]);
                      if (i==max)
                          r.push(a);
                      else
                          helper(a, i+1);
                  }
              }
              helper([], 0);
              return r;
          }
          let arr=[]

        console.log(this.attribute)
        for (let i=0;i<this.attribute.length;i++){
          arr.push(this.attribute[i].children)
        }
        this.combos=cartesianProduct(arr)

      },
      selectTerm(item){
        // let termItem={parent:item.parent_id,item}
        if (!this.selectedAttributes.includes(item)){
        this.selectedAttributes.push(item)
        }
      },
      selectAttribute(item,index){
        this.attribute=this.attributes[index].children
        this.screenType=3
      },
      selectItem(item,index){
        this.screenType=item.id

      }
    },
    components: {
      Dropdown
    }
  }
</script>

<style scoped>
.active-btn{
  color:#f05a28;
}
.list-items{
  color: #f05a28;
  margin: 5px;
}
.drop-down-menus{
  margin: 10px;
}
.add-btn{
  margin: 10px;
  border-radius: 5px !important;
  padding-left: 15px;
  padding-right: 15px;
  height:29px;
  margin-top: 20px;
}
.menu-list{
  display: flex;
  margin: 10px;
  padding-right: 10px;
}
.sec-title{
  border-radius: 5px;
  padding: 5px;
  color: #f05a28;
}
.with-margin{
  margin-left: 100px;
}
.with-margin-top{
  margin-top: 60px;
}

</style>
<style lang="scss" scoped>
.shake-on-error /deep/ .md-duplicated {
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes shake {
  0% { transform: translate(15px); }
  20% { transform: translate(-15px); }
  40% { transform: translate(7px); }
  60% { transform: translate(-7px); }
  80% { transform: translate(3px); }
  100% { transform: translate(0px); }
}
</style>

<style lang="css" scoped>
.pulse-on-error >>> .md-duplicated {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out
}

@keyframes pulse {
  0% { transform: scale(1.1, 1.1); }
  100% { transform: scale(0.9, 0.9); }
}
</style>