<template>
  <div class="select-body">
    <h3>Product Details</h3>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-12">
          <p>Select Brand</p>
        </div>
        <div 
          v-for="(brand,i) in brands" :key="i"
          class="node"
        >
          <input type="checkbox" v-model="brand.selected">
          <span @click="nodeClicked(i)" class="node">{{brand.name}}</span>
        </div>
        <div v-if="brands[brands.length-1].selected" class="col-md-3">
          <input type="text" class="form-control mb-2"
                 placeholder="Enter Brand Name"
                 v-model="newBrand"
                 >
          <md-button style="font-weight: 700; margin-top:55px" class="btn " @click="setBrand"> + Add Brand </md-button>

        </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Product
              Description</label>
            <textarea class="form-control"
                      placeholder="Enter description here"
                      v-model="productDescription"
                      rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Color</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productColor"
                   placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Model Number</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productModel"
                   placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Connectivity</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productConnectivity"
                   placeholder="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Display</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productDisplay"
                   placeholder="None">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Material</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productMaterial"
                   placeholder="Ex: Plastic">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Power Consumption
              (Watt)</label>
            <input type="email" class="form-control"
                   aria-describedby="emailHelp"
                   v-model="productPowerConsumtion"
                   placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 paddin-nr-20">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <md-card v-for="(info,i) in pInfo" :key="i">
                <md-card-header>
                  <div class="md-title">{{info.title}} </div>
                </md-card-header>

                <md-card-content>
                  {{info.value}}
                </md-card-content>

                <md-card-actions>
                  <md-button @click="removeInfo(i)" >Remove</md-button>
                </md-card-actions>
              </md-card>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Add Information</label>
                <input type="email" class="form-control"
                       aria-describedby="emailHelp" v-model="newInfoTitle" placeholder="Info title">
              </div>
              <div class="form-group">
                <input type="email" class="form-control"
                       aria-describedby="emailHelp" v-model="newInfoValue" placeholder="Info value">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <div class="col-md-6-more"
                     style="padding-top: 0px;">
                     <md-button style="font-weight: 700; margin-top:55px" class="btn " @click="setVal"> + Add Info </md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-panel-footer">
        <nuxt-link
          class="tab-back"
          to="/user/products/post-product/basic">Back
        </nuxt-link>
        <button type="submit" class="btn btn-continue">
          <nuxt-link
          class="btn btn-continue white-text"
          to="/user/products/post-product/additional">Continue
          </nuxt-link>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "explain",
    data(){
      return{
        productDescription:'',
        productConnectivity:'',
        productColor:'',
        productModel:'',
        productDisplay:'',
        productMaterial:'',
        productPowerConsumtion:'',
        newInfoTitle:'',
        newInfoValue:'',
        newBrand:'',
        pInfo:[
          {
            title:"Waterproof",
            value:"Yes, 10m"
          }
        ],
        radio:'',
        brands:[
          {
            name: 'b2',
            selected: false
          },
          {
            name: 'b3',
            selected: false
          },
          {
            name: 'b4',
            selected: true
          },
          {
            name: 'b0',
            selected: false
          },
          {
            name: 'Other',
            selected: false
          }
        ]
      }
    },
    methods:{
      nodeClicked(i){
        this.brands[i].selected=!this.brands[i].selected
      },
      removeInfo(i){
        this.pInfo=this.pInfo.filter((item,index)=>index!=i)
      },
      setBrand(){
        this.brands[this.brands.length-1]={
          name:this.newBrand,
          selected:true
        }
        this.newBrand=''
        this.brands.push({
          name:"Other",
          selected:false
        })
      },
      setVal(){
        if(this.newInfoTitle.length>0 && this.newInfoValue.length>0){
          this.pInfo.push({
            title:this.newInfoTitle,
            value:this.newInfoValue
          })
          this.newInfoValue=''
          this.newInfoTitle=''
        }
      }
    }
  }
</script>

<style scoped>
.node {
  text-align: left;
  font-size: 18px;
  margin: 10px;
}
</style>
