<template>
  <div class="select-category">
    <div class="select-body">
      <h3>Select Category</h3>
      <div class="form-group">
        <div class="form-group-search">
          <input v-model="searchText" class="form-control"
                 placeholder=" Tell us what you're Selling">
          <button class="form-group-search-icon"><i
            class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="suggested-categories-body">
        <ul class="nav nav-tabs nav-tabs-12 bg-white" id="myTab1"
            role="tablist">
          <li><button :class="{'active-btn':selectedTab==1}" class="btn " @click="setVal(1)"> Suggested Categories </button></li>
          <li><button :class="{'active-btn':selectedTab==2}" class="btn" @click="setVal(2)" data-toggle="tab">Recently Used Categories </button></li>
        </ul>
        <div class="tab-content" id="myTabContent1">
            <div
            v-if="selectedTab==1"
            class="tab-categories bg-white">
              <TreeBrowser 
                v-for="(child,index) in categories.filter((data)=>data.name.toLowerCase().includes(searchText.toLowerCase()))"
                :key="index"
                :node="child"
                :categoryList="selectedCategories"
                @onClick="nodeWasClicked"
                @removeClick="removeNode"
              />
            </div>
            <div
            v-else
            class="tab-categories bg-white">
              <TreeBrowser 
                v-for="(child,index) in categories.filter((data)=>data.name.toLowerCase().includes(searchText.toLowerCase())).slice(0,2)"
                :key="index"
                :node="child"
                :categoryList="selectedCategories"
                @onClick="nodeWasClicked"
              />
            </div>
        </div>
      </div>
      <div class="tab-panel-footer">
        <button type="submit" class="btn btn-continue" 
          aria-controls="basicinformation"
          aria-selected="true">
            <nuxt-link
            class="btn btn-continue white-text"
            to="/user/products/post-product/basic">Continue
            </nuxt-link>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import TreeBrowser from '../../../../components/product/TreeBrowser'
import {mapGetters} from "vuex";
import {CATEGORY_LIST} from "../../../../store/modules/categories";
  export default {
    name: "index",
    data() {
    return {
      selectedTab:1,
      searchText:'',
      selectedCategories:[]
    }
  },
  methods: {
    removeNode (node){
      this.selectedCategories=this.selectedCategories.filter((d)=>d!=node.id)
    },
    nodeWasClicked(node) {
      if (!this.selectedCategories.includes(node.id)){
        this.selectedCategories.push(node.id)
      }
      else{
        alert('Category already selected')
      }
    },
    setVal(val){
      this.selectedTab=val
    }
  },
  components: {
    TreeBrowser
  },
  created() {
      this.$store.dispatch(CATEGORY_LIST)
  },
  computed: {
    ...mapGetters(['categories'])
  }
  }
</script>

<style scoped>
.active-btn{
  color:#f05a28;
}

</style>
