<template>
  <div class="select-body">
    <h3> Review & Publish</h3>
    <nuxt-link
      class="tab-back"
      to="/user/products/post-product/additional">Back
    </nuxt-link>
  </div>
</template>

<script>
  export default {
    name: "publish"
  }
</script>

<style scoped>

</style>
