<template>
  <div class="add-certificate" v-if="certificate.form || !certificates.length">
    <h3>Add Certificate</h3>
    <validation-observer ref="companyCertificate">
      <form id="companyCertificate" @submit.prevent="submitForm">
        <div class="form-row">
          <div class="col-md-6 personal-Info-input">
            <label>Certification Name</label>
            <validation-provider :rules="{required:true, min:3, regex:/^[a-z\d\-_\s]+$/i}" vid="certificate_name"
                                 name="certificate name"
                                 v-slot="{errors}">
              <input v-model="certificate.name" type="text" class="form-control"
                     placeholder="Abc"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
          <div class="col-md-6 personal-Info-input">
            <label>Reference No</label>
            <validation-provider rules="required|alpha_num" vid="reference_number" name="Reference Number"
                                 v-slot="{errors}">
              <input v-model="certificate.reference_number" type="text" class="form-control" placeholder="12134"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-4 personal-Info-input">
            <label>Issued By</label>
            <validation-provider :rules="{required:true, regex:/^[a-z\d\-_\s]+$/i}" vid="issued_by" name="Issued by"
                                 v-slot="{errors}">
              <input v-model="certificate.issued_by" type="text" class="form-control" placeholder="Abc"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-4 personal-Info-input">
            <label>Start Date (Validity Period From)</label>
            <validation-provider rules="required" vid="start_date" name="Start date" v-slot="{errors}">
              <input v-model="certificate.start_date" type="date" class="form-control" placeholder="Abc"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>

          <div class="col-md-4 personal-Info-input">
            <label>End Date (Validity Period To)</label>
            <validation-provider rules="required" vid="end_date" name="End date" v-slot="{errors}">
              <input v-model="certificate.end_date" type="date" class="form-control" placeholder="Abc"/>
              <errors>{{ errors[0] }}</errors>
            </validation-provider>
          </div>
          <drag-file-input @change="setPhoto"></drag-file-input>
        </div>
        <button type="submit"
                class="btn btn-continue float-right"
                form="companyCertificate">
          <span v-if="loading" class="spinner-border spinner-border-sm" role="status"></span>

          {{certificate.id?'Update':'Save'}}
        </button>
      </form>
    </validation-observer>


  </div>
</template>

<script>
  import {ValidationProvider, ValidationObserver} from "vee-validate";
  import {COMPANY_CERTIFICATE_UPDATE} from "../../../../../store/modules/certifications";
  import DragFileInput from "../../../common/form/DragFileInput";
  import Errors from "../../../common/form/errors";
  import formData from "../../../../../core/services/formData";
  import {deepCopy} from "../../../../../core/services/helper";

  export default {
    name: "certificateForm",
    components: {Errors, DragFileInput, ValidationProvider, ValidationObserver},
    data() {
      return {
        certificate: {}
      }
    },
    computed: {
      certificates() {
        return this.$store.getters.certificates;
      },
      singleCertificate() {
        return this.$store.getters.certificate;
      },
      loading() {
        return this.$store.getters.certificateLoading;
      }
    },
    methods: {
      setPhoto(event) {
        this.certificate.certificate_photo_name = event.target.files[0];
      },
      submitForm() {
        this.$refs.companyCertificate.validate().then(success => {
          if (!success) {
            return;
          }
          this.certificate._photoIndex = 'certificate_photo_name';
          this.certificate.company_id = this.user.company.id;
          this.$store.dispatch(COMPANY_CERTIFICATE_UPDATE, formData(this.certificate));
        });
      }
    },
    watch: {
      errs: {
        handler(value) {
          if (Object.keys(value).length) {
            let ers = {};
            for (let key in value) {
              if (this.$refs.companyCertificate.errors[key]) {
                ers[key] = value[key];
              }
            }
            this.$refs.companyCertificate.setErrors(ers);
          }
        }
      },
      'singleCertificate': {
        handler(value) {
          this.certificate = deepCopy(value);
        },
        immediate: true
      }
    }
  }
</script>

<style scoped>

</style>
