<template>
  <div class="submitted-certifications" v-if="certificates.length">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" v-for="tableHeader in tableHeaders">{{tableHeader}}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="certificate in certificates">
        <td v-for="(tableHeader, index) in tableHeaders">{{certificate[index]}}</td>
        <td>
          <div class="edit-delete">
            <!--  <a href="">Edit</a>-->
            <span @click="editItem(certificate.id)" class="text-primary cursor-pointer "><i
              class="fas fa-pen-square fa-2x"></i></span>
            <span @click="deleteItem(certificate.id)" class="text-danger cursor-pointer custom_padding"> <i
              class="fas fa-trash-alt fa-2x"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import {
    COMPANY_CERTIFICATE_DELETE, COMPANY_CERTIFICATE_DETAILS
  } from "../../../../../store/modules/certifications";

  export default {
    name: "certificateList",
    data() {
      return {
        tableHeaders: {
          reference_number: 'Reference Number',
          name: 'Certificate Name',
          issued_by: 'Issued by',
          start_date: 'Start date',
          end_date: 'End date',
        }
      }
    },
    computed: {
      certificates() {
        return this.$store.getters.certificates;
      }
    },
    methods: {
      deleteItem(id) {
        if (confirm('Are you confirm want to delete')) {
          this.$store.dispatch(COMPANY_CERTIFICATE_DELETE, id);
        }
        /*this.$toast.show(
          'Are you want to confirm delete?', {
            duration: 6000,
            action: [
              {
                text: 'Yes',
                onClick: (e, obj) => {
                  this.$store.dispatch(COMPANY_CERTIFICATE_DELETE, id);
                  obj.goAway(0);
                }
              },
              {
                text: 'No',
                onClick: (e, obj) => {
                  obj.goAway(0);
                }
              },
            ]
          }
        )*/
      },
      editItem(id) {
        this.$store.dispatch(COMPANY_CERTIFICATE_DETAILS, id);
      }
    }
  }
</script>

<style scoped>

</style>
