<template>
  <div class="products-card-right">
    <div>
      <div>
        <div class="products-card-menu">
          <ul class="nav">
            <li>
              <nuxt-link to="/user/products/post-product">Select Category</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/user/products/post-product/basic">Basic Information</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/user/products/post-product/explain">Product Details</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/user/products/post-product/additional">Additional Details</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/user/products/post-product/publish">Review & Publish</nuxt-link>
            </li>
          </ul>
        </div>
        <div>
          <nuxt-child></nuxt-child>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "postProduct"
  }
</script>

<style scoped>

</style>
