<template>
  <section class="footer_section bg_footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12 col-md-3 col-lg-2 about_company mt-4">
          <ul>
            <h5><strong>About Company</strong></h5>
            <li><a href="#">About us</a></li>
            <li><a href="#">Success Stories</a></li>
            <li><a href="#">Press Section</a></li>
            <li><a href="#">Advertise with us</a></li>
            <li><a href="#">Jobs & Carreer</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 help_center mt-4">
          <ul>
            <h5><strong>Help & Supports</strong></h5>
            <li><a href="#">Help</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Complaints</a></li>
            <li><a href="#">Customer Care</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 supply_tool mt-4">
          <ul>
            <h5><strong>Supplier Tool Kits</strong></h5>
            <li><a href="#">Sell on Tizaara</a></li>
            <li><a href="#">Latest Buy Lead</a></li>
            <li><a href="#">Learning Center</a></li>
            <li><a href="#"></a></li>

          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 buyer_tool mt-4">
          <ul>
            <h5><strong>Buyer Tool Kits</strong></h5>
            <li><a href="#">Post your Requirement</a></li>
            <li><a href="#">Products You Buy</a></li>
            <li><a href="#">Search Products & Suppliers</a></li>
            <li><a href="#">Pay with Tizaara</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 event mt-4">

          <ul>
            <h5><strong>Events</strong></h5>
            <li><a href="#">Trade Show</a></li>
            <li><a href="#">Conferences</a></li>
            <li><a href="#">Events by country</a></li>
          </ul>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-2 scroll_top mt-4">

          <button onclick="topFunction()" class="shadow" id="scrollTop" title="Go to top"><img
            src="~/assets/img/arrow_up.png" alt=""></button>

        </div>


      </div>
      <!--row end-->

      <div class="row small_footer">

        <div class="col-sm-3 col-md-3 col-lg-2 mt-2">
          <div class="follow_line pt-2 pb-2 text-center mt-3">
            <p><strong>Follow us on</strong></p>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-6">

          <div class="footer_socials p-3">

            <div class="facebook float-left ml-4 mb-3">
              <a href="#">
                <i class="fab fa-facebook-f pl-4 pr-4"></i>
              </a>
            </div>

            <div class="twitter float-left ml-4">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </div>

            <div class="youtube float-left ml-4">
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </div>

            <div class="google_plus float-left ml-4">
              <a href="#">
                <i class="fab fa-google"></i>
              </a>
            </div>

            <div class="linkedin float-left ml-4">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>

          </div>
          <!--footer socials end-->

        </div>
        <div class="col-sm-3 col-md-4 col-lg-4">
          <div class="link float-right">

            <div class="terms pt-4 pb-4 pb-4 mt-2 float-left">
              <a href="#" class="text-decoration-none text-dark ml-3 mr-3">Terms of use</a>
            </div>

            <div class="privacy pt-4 pb-4 mt-2 float-left">
              <a href="#" class="text-decoration-none text-dark ml-3 mr-3">Privacy Policy</a>
            </div>

            <div class="link_us pt-4 pb-4 mt-2 float-left">
              <a href="#" class="text-decoration-none text-dark ml-3 mr-3">Link to Us</a>
            </div>


          </div>
        </div>

      </div>
      <!--row end-->

      <div class="row">
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="copyright text-center pt-4 pb-4">
              <p>Copyright &copy; 2020 Tizaara.com, All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </section>
</template>
<script>
  export default {
    name: "FooterSection"
  }
</script>
