<template>
 <section class="navbar_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><b>Ready to Ship</b> <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#"><b>Tread Show</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#"><b>Become a Seller</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#"><b>Help</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text_color" href="#"><b><i class="far fa-edit"></i> Post your Requirement</b></a>
                                </li>


                            </ul>

                        </div>
                    </nav>

                </div>
            </div>
            <!--row end-->
        </div>
        <!--container end-->
        <hr>
    </section>
</template>
<script>
  export default {
    name: "NavbarSection"
  }
</script>
